<!-- <style>
  .background {
    background-color: #EEEDF5;
  }
</style> -->
<!-- Web Fonts  -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet"
  type="text/css"> -->

<!-- Vendor CSS -->
<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />


<link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet" href="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
<link rel="stylesheet" href="assets/vendor/morris/morris.css" />

<!-- Load Theme  -->
<link rel="stylesheet" href="styles/kascowing/kw-styles.css" />
<link rel="stylesheet" href="styles/kascowing/size-styles.css" />
<!-- Theme CSS -->
<link rel="stylesheet" href="assets/stylesheets/theme.css" />

<!-- Skin CSS -->
<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

<!-- daterangepicker -->
<link rel="stylesheet" href="assets/javascripts/datepicker/css/daterangepicker.css" />

<!-- New Datepicker Rage -->
<script src="assets/javascripts/datepicker/js/moment.min.js"></script>
<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
<!-- Head Libs -->
<script src="assets/vendor/modernizr/modernizr.js"></script>
<script type='text/javascript'>

  (function () {
    if (window.localStorage) {
      if (!localStorage.getItem('firstLoad')) {
        localStorage['firstLoad'] = true;
        window.location.reload();
        setTimeout(localStorage, 3000);
      }
      else
        localStorage.removeItem('firstLoad');
      setTimeout(localStorage, 3000);
    }
  })();

</script>

<style>
  .menu1 {
    width: 0px;
    height: 100%;
    background: #777777;
    -webkit-transition: width 2s, height 4s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s;
    position: absolute;
    z-index: 899;
    margin-top: 2px;
  }

  .menu1.open {
    width: 100%;
    /* height: 300px; */
  }

  .btnn1 {
    width: 100%;
    padding-left: 80%;
    padding-right: 5%;
    margin-top: 10px;
    position: fixed;
    z-index: 900;

  }

  .btnn2 {
    width: 80%;
    padding-left: 80%;
    padding-right: 5%;
    margin-top: 10px;
    position: fixed;
    z-index: 901;

  }
</style>

<script>
  var b = document.createElement('button');
  b.setAttribute('content', 'test content');
  b.setAttribute('class', 'btn', '');
  b.setAttribute('style', 'width: 120px;');
  b.innerHTML = '<i class="fa fa-arrows-alt" aria-hidden="true"></i> Full Screen';

  var wrapper = document.getElementById('divWrapper');
  wrapper.appendChild(b);


  // var goFS = document.getElementById("goFS");
  var goFS = document.getElementById("divWrapper");
  goFS.addEventListener("click", function () {
    // document.body.requestFullscreen();

    var isInFullScreen = (document.fullscreenElement && document.fullscreenElement !== null) ||
      (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
      (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
      (document.msFullscreenElement && document.msFullscreenElement !== null);

    var docElm = document.documentElement;
    if (!isInFullScreen) {
      if (docElm.requestFullscreen) {
        docElm.requestFullscreen();
        b.innerHTML = '<i class="fa fa-times-circle" aria-hidden="true"></i> Exit Screen';
      } else if (docElm.mozRequestFullScreen) {
        docElm.mozRequestFullScreen();
        b.innerHTML = '<i class="fa fa-times-circle" aria-hidden="true"></i> Exit Screen';
      } else if (docElm.webkitRequestFullScreen) {
        docElm.webkitRequestFullScreen();
        b.innerHTML = '<i class="fa fa-times-circle" aria-hidden="true"></i> Exit Screen';
      } else if (docElm.msRequestFullscreen) {
        docElm.msRequestFullscreen();
        b.innerHTML = '<i class="fa fa-times-circle" aria-hidden="true"></i> Exit Screen';
      }
    } else {
      if (document.exitFullscreen) {
        document.exitFullscreen();
        b.innerHTML = '<i class="fa fa-arrows-alt" aria-hidden="true"></i> Full Screen';
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
        b.innerHTML = '<i class="fa fa-arrows-alt" aria-hidden="true"></i> Full Screen';
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
        b.innerHTML = '<i class="fa fa-arrows-alt" aria-hidden="true"></i> Full Screen';
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
        b.innerHTML = '<i class="fa fa-arrows-alt" aria-hidden="true"></i> Full Screen';
      }
    }

  }, false);
</script>


<section class="body">

  <!-- <dir-header user="{{component.user}}" toolbar="component.menuToolbar"></dir-header> -->
  <div class="userphone visible-xs  visible-lg-block">
    <div class="col-xs-4 col-sm-4">
      <div style="width: 120px;" id='divWrapper'></div>
    </div>
    <div class="col-xs-3 col-sm-3">
      <button class="btn kw-button-menu btn-block" type="button" ng-click="openMenu(c)">
        <i class="fa fa-bars" style="color: #ffffff;" aria-label="Toggle sidebar"></i>
      </button>
    </div>
  </div>
  <div class="inner-wrapper background">


    


    

    <section role="main" class="content-body ">
      <div ui-view class="content-tablet">

      </div>
    </section>
  </div>

</section>


<!-- Specific Page Vendor -->


<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="assets/vendor/jquery-appear/jquery.appear.js"></script>
<script src="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
<script src='styles/kascowing/flot/jquery.flot.min.js'></script>
<script src='styles/kascowing/flot/jquery.flot.pie.js'></script>
<script src='styles/kascowing/flot/jquery.flot.tooltip.min.js'></script>
<script src="assets/vendor/flot/jquery.flot.categories.js"></script>
<script src="assets/vendor/flot/jquery.flot.resize.js"></script>
<script src="assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
<script src="assets/vendor/raphael/raphael.js"></script>
<script src="assets/vendor/morris/morris.js"></script>
<script src="assets/vendor/gauge/gauge.js"></script>
<script src="assets/vendor/snap-svg/snap.svg.js"></script>
<script src="assets/vendor/liquid-meter/liquid.meter.js"></script>

<!-- daterangepicker -->
<script src="assets/javascripts/datepicker/js/daterangepicker.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="assets/javascripts/theme.init.js"></script>