<div class="row datatables-header form-inline">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="datatable-editable_length"><label>
                <div class="select2-container" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice"
                        tabindex="-1"> <span class="select2-chosen" id="select2-chosen-2">10</span><abbr
                            class="select2-search-choice-close"></abbr> <span class="select2-arrow"
                            role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2"
                        class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text"
                        aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                    <div class="select2-drop select2-display-none">
                        <div class="select2-search select2-search-hidden select2-offscreen"> <label
                                for="s2id_autogen2_search" class="select2-offscreen"></label> <input type="text"
                                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list"
                                aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder=""> </div>
                        <ul class="select2-results" role="listbox" id="select2-results-2"> </ul>
                    </div>
                </div><select name="datatable-editable_length" aria-controls="datatable-editable"
                    class="select2-offscreen" tabindex="-1" title="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> records per page
            </label></div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div id="datatable-editable_filter" class="dataTables_filter"><label><input type="search" class="form-control"
                    placeholder="Search" aria-controls="datatable-editable"></label></div>
    </div>
</div>