<div id="modal-form" class="modal" tabindex="-1" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto;width:35%;">
        <div class="modal-header">
            <button type="button" class="close" ng-click="onClose()">&times;</button>
            <h4 class="blue bigger">{{ 'RULE_CONDITION_OPERATION' | translate }}</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div id="page-content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row" style="margin-left:5px;">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                                    <div class="dropdown display-inline" style="margin-left:-15px;">
                                        <select ng-model="actionPS" class="form-control" ng-init="actionPS = '1' " ng-click="clearData()">
                                            <option value="1">{{ 'OPERATION_TYPE' | translate }}</option>
                                            <option value="2">{{ 'RULE_CONDITION_FIELD' | translate }}</option>
                                            <option value="3">{{ 'RULE_OPERATION' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div ng-switch="actionPS">
                                    <div class="input-group col-lg-4" ng-switch-when="1">
                                        <input type="text" ng-model="ruleConditionOperation.ruleConditionOperationType" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="filterSearch()" class="btn btn-primary form-control" style="padding: 8.5px;">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group col-lg-4" ng-switch-when="2">
                                        <input type="text" ng-model="ruleConditionOperation.ruleConditionField_Name" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="filterSearch()" class="btn btn-primary form-control" style="padding: 8.5px;">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="input-group col-lg-4" ng-switch-when="3">
                                        <input type="text" ng-model="ruleConditionOperation.ruleConditionOperation" class="form-control">
                                        <span class="input-group-btn">
                                            <button ng-click="filterSearch()" class="btn btn-primary form-control" style="padding: 8.5px;">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-top: 10px;">
                                <rule-condition-operation-popup-table invokes='datalist.invokes' delegates='datalist.delegates' config='datalist.config'></rule-condition-operation-popup-table>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
