<meta http-equiv="Pragma" content="no-cache">
<div id="modal-form" class="modal" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto;width:90%;">
        <div class="modal-content">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a class="fa fa-times" data-dismiss="modal"></a>
                    </div>

                    <h2 class="panel-title">Add Detail Item</h2>
                </header>
            </section>
            <div class="modal-body">


                <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px; margin-bottom:20px;">
                    <h4>{{ 'METERIAL_INFORMATION' | translate }}</h4>
                </div>

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span style="color:red">*</span>{{ 'SKU' | translate }}/{{ 'MATERIAL_NO' | translate }}
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <input ng-model="filterItemModel.product_Id" class="form-control" disabled>
                                </input>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>
                                    <span style="color:red">*</span>{{ 'MATERIAL_NO' | translate }}</span>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                <input ng-model="filterItemModel.product_Name" class="form-control" disabled>
                                </input>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'QTY' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input id="fixed3" type="text" class="form-control"
                                        ng-model="filterItemModel.qty" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span>
                                        {{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <input ng-model="filterItemModel.productConversion_Name" class="form-control"
                                        disabled>
                                    </input>
                                    <!-- <select class='form-control' name="Productconversion"
                                        ng-model='dropdownProductconversion.model'
                                        ng-options="v.productConversion_Name for v in dropdownProductconversion" disabled>
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}
                                        </option>
                                    </select> -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">

                    <div class="col-lg-12 col-md-12 col-xs-12 ">
                        <!-- <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>{{ 'LOT' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.product_Lot">
                            </div>
                        </div> -->

                    </div>
                </div>





            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-default" data-dismiss="modal"
                    ng-click="addsItem(filterItemModel)">{{ 'ADD' | translate }}</button>
            </div>
        </div>

    </div>
</div>