<meta http-equiv="Pragma" content="no-cache">
<div id="modal-form" class="modal" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto;width:90%;">
        <div class="modal-content">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a class="fa fa-times" data-dismiss="modal"></a>
                    </div>

                    <h2 class="panel-title">Add Detail Item</h2>
                </header>
            </section>
            <div class="modal-body">

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>{{ 'GR_NO' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" ng-model="filterModel.goodsReceive_No" class="form-control"
                                    disabled />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>{{ 'OWNER' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" disabled />
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>Reference Doc Type</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <select ng-model="Template" class="form-control" ng-init="Template = '1' ">
                                    <option value="1">{{ 'PLEASE_SELECTED' | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>Ref. Document No.</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <div class="input-group ">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-filter ">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px; margin-bottom:20px;">
                    <h4>{{ 'METERIAL_INFORMATION' | translate }}</h4>
                </div>

                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span style="color:red">*</span>{{ 'SKU' | translate }}/{{ 'MATERIAL_NO' | translate }}
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <auto-comple-id ng-model="filterItemModel.product_Index" value="filterItemModel.product_Id" id="filterItemModel.product_Name"
                                    value6="filterItemModel.ref_Code4" sourceurl="autoComplete.productId" api="url.GR" key2="filterItemModel.owner_Index"
                                    value3="filterItemModel.isLot" value4="filterItemModel.isMfgDate" value7="filterItemModel.isExpDate">
                                </auto-comple-id>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>
                                    <span style="color:red">*</span>{{ 'MATERIAL_NO' | translate }}</span>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                <auto-comple ng-model="filterItemModel.product_Index" value="filterItemModel.product_Name" id="filterItemModel.product_Id"
                                    value6="filterItemModel.ref_Code4" sourceurl="autoComplete.productName" api="url.GR">
                                </auto-comple>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'Ref_Po_No' | translate }}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'Line_No' | translate }}</span>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" disabled />
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">

                    <div class="col-lg-12 col-md-12 col-xs-12 ">
                        <!-- <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>{{ 'LOT' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.product_Lot">
                            </div>
                        </div> -->
                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'QTY' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input id="fixed3" type="text" class="form-control" ng-model="filterItemModel.qty" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span>
                                        {{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' name="Productconversion" ng-model='dropdownProductconversion.model' ng-options="v.productConversion_Name for v in dropdownProductconversion">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>



                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TOTAL_QTY' | translate }}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterItemModel.totalQty" disabled />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 kw-p-zero">
                                    <select class='form-control' name="Productconversion" ng-model='dropdownProductconversion.model' ng-options="v.productConversion_Name for v in dropdownProductconversion"
                                        disabled>
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'ITEM_STATUS' | translate }} </span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <select class='form-control' ng-model='dropdownItemStatus.model' ng-options="v.itemStatus_Name for v in dropdownItemStatus">
                                    <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                </select>
                            </div>
                        </div> -->

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT_PRICE' | translate }}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterItemModel.unitPrice" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'CURRENCY' | translate }}</span>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.priceModel' ng-options="v.currency_Name for v in dropdownCurrency">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TOTAL_PRICE' | translate }}</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterItemModel.totalPrice" disabled />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'CURRENCY' | translate }}</span>
                                </div>
                                <div class="col-lg-9 col-md-9 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.priceModel' ng-options="v.currency_Name for v in dropdownCurrency"
                                        disabled>
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'ITEM_STATUS' | translate }} </span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <select class='form-control' ng-model='dropdownItemStatus.model' ng-options="v.itemStatus_Name for v in dropdownItemStatus">
                                    <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>{{ 'LOT' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.product_Lot" ng-disabled="chk.isLot != 1">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <span>{{ 'MFG' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                <dir-date-picker ng-model="filterItemModel.mfg_Date" disabled="chk.isMfgDate != 1"></dir-date-picker>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>{{ 'EXP' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <dir-date-picker ng-model="filterItemModel.exp_Date" disabled="chk.isExpDate != 1"></dir-date-picker>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 ">


                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT_WEIGHT' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterItemModel.weightUnit" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'WT_UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownWeight.weightModel' ng-options="v.weight_Name for v in dropdownWeight">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'NET_WEIGHT' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input class="form-control" ng-model="filterItemModel.netWeight" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'WT_UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownWeight.netWeightModel' ng-options="v.weight_Name for v in dropdownWeight">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'GRS_WEIGHT' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterItemModel.grsWeight" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'WT_UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownWeight.grsWeightModel' ng-options="v.weight_Name for v in dropdownWeight">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>{{ 'ERP_LOCATION' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.erp_location">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 ">
                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'WIDTH' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.unitWidth" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'LENGTH' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.unitLength" />
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownVolume.model'
                                        ng-options="v.volume_Name for v in dropdownVolume">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div> -->

                        </div>

                        <!-- <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'LENGTH' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.unitLength" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownVolume.model'
                                        ng-options="v.volume_Name for v in dropdownVolume">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div> -->

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'HEIGTH' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.unitHeight" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select dis class='form-control' ng-model='dropdownVolume.model' ng-options="v.volume_Name for v in dropdownVolume">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>



                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TOTAL_VOLUME' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.volume" disabled />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'VOLUME_UNIT' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <span> M3 </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 ">

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'REF_CODE' | translate }} 1</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.ref_Code1" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'REF_CODE' | translate }} 2</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.ref_Code2" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'REF_CODE' | translate }} 3</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.ref_Code3" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'REF_CODE' | translate }} 4</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.ref_Code4" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px; margin-bottom:20px;">
                    <h4>{{ 'Import_Reference_Information' | translate }}</h4>
                </div>


                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 ">

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'Invoice_No' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.invoice_No" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'Declaration_No' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.declaration_No" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'HS_Code' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.hS_Code" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <span>
                                    <span>{{ 'Conutry_of_Origin' | translate }}</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                <input type="text" class="form-control" ng-model="filterItemModel.conutry_of_Origin" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin-top:15px;">
                    <div class="col-lg-12 col-md-12 col-xs-12 ">


                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TAX' | translate }}1</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.tax1" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>Currency</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.tax1Model' ng-options="v.currency_Name for v in dropdownCurrency">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TAX' | translate }}2</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.tax2" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'CURRENCY' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.tax2Model' ng-options="v.currency_Name for v in dropdownCurrency">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TAX' | translate }}3</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.tax3" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'CURRENCY' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.tax3Model' ng-options="v.currency_Name for v in dropdownCurrency">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TAX' | translate }}4</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <input type="number" class="form-control" ng-model="filterItemModel.tax4" />
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'CURRENCY' | translate }}</span>
                                </div>
                                <div class="col-lg-8 col-md-8 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownCurrency.tax4Model' ng-options="v.currency_Name for v in dropdownCurrency">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="onClose()">Close</button>

                <button type="button" class="btn btn-default" ng-click="addsItem(filterItemModel)">{{ 'ADD' | translate }}</button>
            </div>
        </div>

    </div>
</div>