<meta http-equiv="Pragma" content="no-cache">

<div>
    <div class="row" style="margin-top:30px;">
        <div class="col-lg-5 col-md-5 col-xs-11" style="margin-left: 15px">
            <div class="input-group" style="padding:0!important;">
                <input type="text" class="form-control" ng-model="$vm.filterModel.task_No">
                <span class="input-group-btn">
                    <button ng-click='$vm.triggerSearch()' class="btn btn-groub-Search" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-7 col-md-7  col-xs-12" style="margin-top:10px;">
        </div>
    </div>
</div>