<meta http-equiv="Pragma" content="no-cache">

<div class="tabs" ng-show="$vm.isFilterTable">

    <div class="tab-content">
        <!-- Header -->
        <section class="panel">
            <!-- <header class="panel-heading">
                <div class="panel-actions">
                    <a class="fa fa-caret-down" ng-click="ShowHeader()"></a>
                </div>
                <h2 class="panel-title">
                    <div class="form-group">
                        <div class="col-lg-11">
                            <div class="row">
                                <label class="col-lg-3 control-label kw-p-zero">{{ 'Claim_No' | translate }} : </label>

                                <div class="col-lg-2 kw-p-zero">
                                    <input type="text" class="form-control " ng-model="filterModel.planGoodsReceive_No" disabled />
                                </div>

                                <div class="col-lg-4 kw-p-zero"></div>

                                <label class="col-lg-1 control-label kw-p-zero">{{ 'STATUS' | translate }} : </label>

                                <div class="col-lg-2 kw-p-zero">
                                    <input type="text" class="form-control " ng-model="filterModel.processStatus_Name" disabled />
                                </div>

                            </div>
                        </div>
                    </div>
                </h2>
            </header> -->

            <div class="panel-body" ng-show='header.show'>
                <div class="row">

                    <!-- <div id="tab1" class="tab-pane active" ng-if="click == 1"> -->
                        <div class="form-group" style="margin-top:15px;">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                        <span>{{ 'CLAIM_NO' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                        <input type="text" ng-model="filterModel.claim_NO"
                                            class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                                        <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                            <span>
                                                <span style="color:red">*</span> {{ 'CLAIM_DATE' | translate }}</span>
                                        </div>
                                        <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                            <dir-date-picker ng-model="filterModel.claim_Date"
                                                disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3">
                                            </dir-date-picker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span>
                                            <span style="color:red">*</span> {{ 'DOCUMENT_TYPE' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <select class='form-control' ng-model='dropdownDocumentType.model'
                                            ng-options="v.documentType_Name for v in dropdownDocumentType">
                                            <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                
                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'TICKET_NUMBER' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <input type="text" class="form-control"
                                            ng-model="filterModel.ticket_Number" />
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'SOLDTO_ID' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <auto-comple ng-model="filterModel.soldTo_Index" value = "filterModel.soldTo_Name" id="filterModel.soldTo_Id" sourceurl="autoComplete.soldToClaim" api="url.Claim"
                                            is-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3 || filterModel.document_Status==4"></auto-comple>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span>
                                            <span style="color:red">*</span> {{ 'SHIPTO_ID' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <auto-comple ng-model="filterModel.shipTo_Index" value = "filterModel.shipTo_Name" id="filterModel.shipTo_Id" sourceurl="autoComplete.shipToClaim"
                                            api="url.Claim" is-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3 || filterModel.document_Status==4"></auto-comple>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-xs-12">

                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'WF_NUMBER' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <input type="text" class="form-control"
                                            ng-model="filterModel.wf_Number" />
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'SHOP_ID' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <!-- <auto-comple ng-model="filterModel.shop_Id" value="filterModel.shop_Id" id="filterModel.shop_Id" 
                                             sourceurl="autoComplete.ShopClaim" api="url.Claim"
                                            is-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3 || filterModel.document_Status==4"></auto-comple> -->
                                            <input type="text" ng-model="filterModel.shop_Id" class="form-control"  />
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'SHOP_NAME' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <input type="text" ng-model="filterModel.shop_Name" class="form-control"  />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <span><span style="color:red">*</span> {{ 'PLANT' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                        <!-- <auto-comple ng-model="filterModel.plant" value="filterModel.plant_Name" id="filterModel.plant_Id" 
                                             sourceurl="autoComplete.PlantClaim" api="url.Claim"
                                            is-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3 || filterModel.document_Status==4"></auto-comple> -->
                                        <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                            <input type="text" ng-model="filterModel.plant" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12">
                                        <span>{{ 'REMARK' | translate }}</span>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                        <textarea rows="3" cols="50" class="form-control"
                                            ng-model="filterModel.remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                    
                </div>
            </div>
        </section>


        <!-- ItemTable -->
        <section class="panel">

            <div class="panel-body" ng-show='item.show'>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 text-right">
                        <button type="button" class="modal-with-form btn btn-default"
                        ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3"
                        ng-click="addDetailItem.onClick(filterModel)">{{ 'ADD' | translate }}</button>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 table-responsive " style="padding:0px; margin-top:15px;">
                        <div class="table-responsive table-overflow">
                            <table class="table table-width-100 tableHeight-350">
                                <thead>
                                    <tr>
                                        <th class="k150 text-center">{{ 'ACTION' | translate }}</th>
                                        <th class="k50 text-center">{{ 'NO' | translate }}</th>
                                        <th class="k150 text-center">{{ 'SO_NO' | translate }}.</th>
                                        <th class="k250 text-center">{{ 'INV_NO' | translate }}</th>
                                        <th class="k80 text-center">{{ 'INV_DATE' | translate }}</th>
                                        <td class="k100 text-center">{{ 'PRODUCT_ID' | translate}}</td>
                                        <!-- <td class="k150 text-center">{{ 'PRODUCTID_VD' | translate}}</td>
                                        <td class="k150 text-center">{{ 'PRODUCTID_MH' | translate}}</td> -->
                                        <td class="k100 text-center">{{ 'QTY_CLAIM' | translate}}</td>
                                        <td class="k100 text-center">{{ 'UNIT' | translate}}</td>
                                        <td class="k100 text-center">{{ 'QTY_INV' | translate}}</td>
                                        <td class="k100 text-center">{{ 'UNIT' | translate}}</td>
                                        <td class="k100 text-center">{{ 'SUP_NAME' | translate}}</td>
                                        <td class="k100 text-center">{{ 'REMARK' | translate}}</td>
                                        <td class="k100 text-center">{{ 'CREATE_BY' | translate}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in filterModel.listclaimItemViewModel">
                                        <td class="k150">
                                            <div>
                                                <a class="btn btn-filter nextBtn" ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3"
                                                    ng-click="addDetailItem.onClick(data,$index)">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn btn-danger" ng-click="deleteItem(filterModel.listclaimItemViewModel, $index)" ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                                <a class="btn btn-blue" ng-click="previewItem.onClick(data,$index)" data-toggle="modal" data-target="#myModal">
                                                    <span class="glyphicon glyphicon-file" aria-hidden="true" ></span>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="k50 text-center">{{data.line_Item}}</td>
                                        <td class="k150 text-center">{{data.so_No}}</td>
                                        <td class="k250 text-center">{{data.inv_No}}</td>
                                        <td class="k80 text-center">{{data.inv_Date|dateFormate}}</td>
                                        <td class="k100 text-center">{{data.product_Id}}</td>
                                        <td class="k100 text-center">{{data.qty_Claim}}</td>
                                        <td class="k100 text-center">{{data.unit_Claim}}</td>
                                        <td class="k100 text-center">{{data.qty_Inv}}</td>
                                        <td class="k100 text-center">{{data.unit_Inv}}</td>
                                        <!-- <td class="k100 text-center">{{filterModel.shop_Id}}</td> -->
                                        <td class="k100 text-center">{{data.sup_Name}}</td>
                                        <td class="k100 text-center">{{data.remark}}</td>
                                        <td class="k100 text-center">{{data.create_By}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="footer-white" style="margin-top:10px;">
            <ul class="pager">
                <button type="button" class="btn btn-step-back" ng-click="back()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                </button>


                <button type="button" class="btn btn-blue previous" ng-show="buttons.add" ng-click="add()" style="float: right;background-color: #60b0ff">
                    {{ 'SAVE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>

                <button type="button" class="btn btn-blue previous" ng-show="buttons.update" ng-click="edit()" style="float: right;background-color: #60b0ff">
                    {{ 'SAVE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>

            </ul>
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal" id="myModal" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="overflow:auto;width:90%;">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Preview</h4>
        </div>
        <div class="modal-body">
          <div class="silder center">
            <!-- <div ng-repeat="attachFileRow in filterModel.listclaimItemViewModel.documents ">
                <a>{{attachFileRow.name}}</a>
            </div> -->
            <button type="button" class="btn btn-default" ng-click="mySlide.onClick('prev')">&#10094;</button>
            <img src="{{filterModel.listclaimItemViewModel.documents[0].src}}" id="slide" style="width:100%;max-width:450px">
            <button type="button" class="btn btn-default" ng-click="mySlide.onClick('next')">&#10095;</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<po-popup on-show='popupPo.onShow' config='popupPo.config' invokes='popupPo.invokes' delegates='popupPo.delegates'>
</po-popup>

<claim-item on-show='addDetailItem.onShow' config='addDetailItem.config' invokes='addDetailItem.invokes' delegates='addDetailItem.delegates'>
</claim-item>

<forwarder-popup on-show='forwarderPopup.onShow' config='forwarderPopup.config' invokes='forwarderPopup.invokes' delegates='forwarderPopup.delegates'>
</forwarder-popup>

<vendor-popup-plan on-show='vendorPopupPlan.onShow' config='vendorPopupPlan.config' invokes='vendorPopupPlan.invokes' delegates='vendorPopupPlan.delegates'>
</vendor-popup-plan>


<script>
    $(function () {
        $('.daterange').daterangepicker();
    });
</script>