<div class="table-responsive  kl-tbl-height table-overflow">
    <table class="table table-striped table-bordeered table-width-100">
        <thead>
            <tr>
                <th class="k100 text-center" ng-show="show.action">
                    <div>{{ 'ACTION' | translate }}</div>
                </th>
                <th class="k150 text-center" >{{ 'BOM_No' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in items" ng-if="items.length != 0">
                <td ng-show="show.action" class="k100 text-center">
                    <div class="ig-control">
                        <input ng-model="data.selected" type="checkbox" id="checkxx_{{$index}}" class="ig-control__cbx" checked/>
                        <label for="checkxx_{{$index}}"></label>
                    </div>
                </td>
                <td class="k150 text-center" >{{data.boM_No}}</td>
            </tr>
            <tr ng-if="items.length == 0">
                <td colspan="11" class="text-center">{{ 'NO_DATA' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " style="padding-top:20px" ng-show="show.pagination">
        <select class='form-control' style='width:70px;display:inline;' ng-model='pagging.perPage' ng-options="v.value as v.value for v in pageOption"
            ng-init='pagging.perPage = 8' ng-change='changeTableSize()'>
        </select>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 " style="padding:0px" ng-show="show.pagination">
        <ul uib-pagination total-items="pagging.totalRow" ng-change="pagging.change()" items-per-page="pagging.perPage" num-pages="pagging.num"
            ng-model="pagging.currentPage" max-size="pagging.maxSize" class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
    </div>
</div>