<div class="table-responsive table-overflow">
    <table class="table table-striped fixed-header tableHeight-350">
        <thead>
            <tr>
                <!-- <td>#</td> -->
                <th class="k150">{{ 'RULE_ID' | translate }}</th>
                <th class="k150">{{ 'RULE_NAME' | translate }}</th>
                <th class="k120 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in items">
                <!-- <td>{{$index+1}}</td> -->
                <td class="k150">{{data.rule_Id}}</td>
                <td class="k150">{{data.rule_Name}}</td>
                <td class="k120 text-center">
                    <a class="btn btn-primary" ng-click="selected(data)">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </a>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="form-left" ng-show="show.pagination">
    <select class='form-control' style='width:70px;display:inline;' ng-model='model.numPerPage' ng-options="v.value as v.value for v in pageOption"
        ng-init='model.numPerPage = 10' ng-change='changeTableSize()'>
    </select>
</div>
<div class="form-right" ng-show="show.pagination">
    <ul uib-pagination total-items="pagging.totalRow" ng-change="pagging.change()" items-per-page="pagging.perPage" num-pages="pagging.num"
        ng-model="pagging.currentPage" max-size="pagging.maxSize" class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
</div> -->