<meta http-equiv="Pragma" content="no-cache">
<div class="hidden-xs hidden-sm  table-responsive table-overflow div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <table class="table table-striped fixed-header">
        <thead>
            <tr style="overflow-y: auto;">
                <th class="text-center k250">{{ 'ACTION' | translate }}</th>
                <th class="text-center k200">{{ 'COUNT_NO' | translate }}</th>
                <th class="text-center k120">{{ 'COUNT_DATE' | translate }}</th>
                <th class="text-center k150">{{ 'DOCUMENT_TYPE' | translate }}</th>
                <th class="text-center k120">{{ 'STATUS' | translate }}</th>
                <th class="text-center k150">{{ 'USER' | translate }}</th>
                <th class="text-center k150">{{ 'USER_UPDATE' | translate }}</th>
                <th class="text-center k150">{{ 'USER_CANCEL' | translate }}</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in $vm.searchResultModel">
                <td class="text-center k250">
                    <a class="btn btn-primary" style="margin-left:5px;" ng-click="exportPDF.ExportPDF(data)">
                        <span aria-hidden="true" ng-di>{{ 'PDF' | translate }}</span>
                    </a>
                    <a class="btn btn-primary" style="margin-left:5px;" ng-click="exportFile.ExportExcel(data)">
                        <span aria-hidden="true" ng-di>{{ 'EXCEL' | translate }}</span>
                    </a>
                    <a class="btn btn-groub-Search" ng-click="comfirmStatus(data)" data-toggle="tooltip" title="Confirm Status" data-placement="bottom"
                        ng-disabled="data.document_Status == 1 || data.document_Status == -1 || data.document_Status == 2 || data.document_Status == 3 || data.document_Status == 4">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-success" ng-click="edit(data)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <div class="btn-group">
                        <button title="Other" ng-disabled="data.document_Status == -1" type="button" class="mb-xs mt-xs mr-xs btn btn-warning dropdown-toggle"
                            data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-list"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="btn" ng-click="delete(data)" href="#" ng-disabled="data.document_Status == -1 || data.document_Status == 3 || data.document_Status == 4"
                                    style="text-align: left">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'CANCEL' | translate }}</a>
                            </li>
                            <!-- <li>
                                <a class="btn" ng-click="complete(data)" href="#" ng-disabled="data.document_Status == -1 || data.document_Status == 3 || data.document_Status == 4"
                                    style="text-align: left">
                                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'COMPLETE' | translate }}</a>
                            </li>
                            <li>
                                    <a class="btn" ng-click="adjustStock(data)" href="#" ng-disabled="data.document_Status == -1 || data.document_Status == 0 || data.document_Status == 1 || data.document_Status == 2 || data.document_Status == 4"
                                        style="text-align: left">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'ADJUSTSTOCK' | translate }}</a>
                                </li> -->
                        </ul>
                    </div>
                </td>
                <td class="text-center k200">{{data.cycleCount_No}}</td>
                <td class="text-center k120">{{data.cycleCount_Date |dateFormate}}</td>
                <td class="text-center k150">{{data.documentType_Name}}</td>
                <td class="text-center k120">{{data.processStatus_Name}}</td>
                <td class="text-center k150">{{data.create_By}}</td>
                <td class="text-center k150">{{data.update_By}}</td>
                <td class="text-center k150">{{data.cancel_By}}</td>
            </tr>
            <tr ng-if="$vm.searchResultModel.length == 0">
                <td colspan="20" class="text-center">{{ 'NO_DATA' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive table-overflow " ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12" style="padding-left:5px;padding-right:5px;">
        <div class="form-group">

            <div class="btn-group" style="padding-top:0px; padding-left:0px;" ng-show="show.pagination">
                <button type="button " ng-init="colortab1 = '#ec7229'" style="background-color:{{colortab1}}" ng-click="changeTableSize(50,1)"
                    class="btn btn-back">
                    <span class="frontColor-white" style="color:{{fronttab1}}">50</span>
                </button>

                <button type="button" ng-click="changeTableSize(100,2)" style="background-color:{{colortab2}}" class="btn btn-back">
                    <span class="frontColor-primary" style="color:{{fronttab2}}">100</span>
                </button>
            </div>
            <ul ng-show="show.pagination" style="margin:0px;" uib-pagination total-items="$vm.filterModel.totalRow" uib-pagination total-items="$vm.filterModel.totalRow"
                ng-change='changePage()' items-per-page="$vm.filterModel.perPage" num-pages="$vm.filterModel.num" ng-model="$vm.filterModel.currentPage"
                max-size="maxSize" class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
        </div>

    </div>
</div>

<cyclecount-form-v2 on-show="onShow" ng-hide="$vm.isFilter"></cyclecount-form-v2>

<report-popup on-show='popupReport.onShow' config='popupReport.config' invokes='popupReport.invokes' delegates='popupReport.delegates'>
</report-popup>