<header class="page-header">
    <!-- <h2>Home</h2> -->
    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9  page-header-left">
        <h2>Dashboard</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3  page-header-right">
        <div class="right-wrapper">
        </div>
    </div>
</header>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-p-zero" style="margin-bottom: 5%">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-p-zero">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-p-RL-five">
            <div class="col-md-3" style="padding: 2px;">
                <dashboard9></dashboard9>
            </div>
            <div class="col-md-3" style="padding: 2px;">
                <dashboard10></dashboard10>
            </div>
            <div class="col-md-3" style="padding: 2px;">
                <dashboard11></dashboard11>
            </div>
            <div class="col-md-3" style="padding: 2px;">
                <div style="border: solid 1px #CCCCCC;height: 54px;text-align: center;font-size: 30px;">
                    {{date}}
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-p-RL-five">
            <div class="col-md-9 kw-p-zero" style="padding-right: 10px;">
                <div class="col-md-12  kw-p-zero">
                    <div class="col-md-5" style="padding: 2px;">
                        <dashboard5></dashboard5>
                    </div>
                    <div class="col-md-7" style="padding: 0 10px;">
                        <dashboard7></dashboard7>
                    </div>
                </div>

                <div class="col-md-12  kw-p-zero">
                    <dashboard12></dashboard12>
                </div>

                <div class="col-md-12  kw-p-zero">
                    <div class="col-md-5" style="padding: 2px;">
                        <dashboard6></dashboard6>
                    </div>
                    <div class="col-md-7" style="padding: 0 10px;">
                        <dashboard8></dashboard8>
                    </div>
                </div>
            </div>

            <div class="col-md-3  kw-p-zero">
                <dashboard1></dashboard1>
                <dashboard2></dashboard2>
                <!-- <dashboard3></dashboard3> -->
                <!-- <dashboard4></dashboard4> -->
            </div>
        </div>
    </div>
    <div class="d-lg-none">
        <a href="http://10.106.159.21/AMZ_SUP/frmMain.wgx" target="_blank">.</a>
        <div style="margin-top: 10px; margin-left: 40%;" id='divWrapper'></div>
    </div>
</div>