<style>
    .ex3 {
        width: 400px;
        height: 400px;
        overflow: auto;
    }
</style>
<meta http-equiv="Pragma" content="no-cache">

<div>

    <div class="form-group" style="margin-top:70px;margin-bottom: 15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-5" style="text-align: right;">
                    <span>{{ 'SCAN_R/C_ID' | translate }}:</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-7">
                    <input type="text" class="form-control bgwrite" ng-model="filterModel.rollcage_id"
                         ks-enter="scanrollcageback(filterModel)" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-top:0px;margin-bottom: 15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-5" style="text-align: right;">
                    <span>{{ 'from' | translate }}:</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-7">
                    <select class='form-control' ng-model='filterModel.value'>
                        <option value="">{{ 'SELECT' | translate }}</option>
                        <option value="1">-- from Chute --</option>
                        <option value="3">-- from Dock --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="margin-top:0px;margin-bottom: 15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-5" style="text-align: right;">
                    <span>{{ 'LOCATION' | translate }}:</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-7">
                    <input type="text" class="form-control bgwrite" ks-enter="scanEmptyLocation(filterModel)"
                        ng-disabled="!blockback" ng-model="filterModel.location" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-right padding-m" style="margin-bottom:15px;">
        <button ng-click="movePallet()" ng-disabled="!confirmEmptyDock"
            class="btn btn-primary hidden-xs">{{ 'CONFIRM' | translate }}</button>
        <button ng-click="movePallet()" ng-disabled="!confirmEmptyDock"
            class="btn btn-primary btn-block btn-lg visible-xs mt-lg">{{ 'CONFIRM' | translate }}</button>
    </div>
</div>
<!-- 
<div ng-show='header.callroll'>
    <div class="col-md-12 kw-mg-tb">
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-5 col-md-9 col-xs-5" style="padding-left: 0px;padding-right: 0px;">
                        <input type="number" class="form-control" ng-model="filterModel.qty" disabled />
                    </div>
                    <div class="col-lg-4 col-md-3 col-xs-4" style="text-align: right;">
                        <span>{{ 'R/C ID' | translate }}:</span>
                    </div>
                    <div class="col-lg-3 col-md-9 col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                        <input type="number" class="form-control" ng-model="filterModel.qty" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="col-lg-3 col-md-3 col-xs-3" style="text-align: right;">
                        <span>{{ 'FROM' | translate }}:</span>
                    </div>
                    <div class="col-lg-3 col-md-9 col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                        <input type="number" class="form-control" ng-model="filterModel.qty" disabled />
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3" style="text-align: right;">
                        <span>{{ 'TO' | translate }}:</span>
                    </div>
                    <div class="col-lg-3 col-md-9 col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                        <input type="number" class="form-control" ng-model="filterModel.qty" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<master-require on-show='masterRequirePopup.onShow' config='masterRequirePopup.config'
    invokes='masterRequirePopup.invokes' delegates='masterRequirePopup.delegates'>
</master-require>

<select-scan-popup on-show='scanselect.onShow' config='scanselect.config' invokes='scanselect.invokes'
    delegates='scanselect.delegates'>
</select-scan-popup> -->