<div class="panel-body" ng-show="onShow">
    <div class="col-md-12 kw-mg-tb">
        <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'RULE_CONDITION_FIELD' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <input ng-model="filterModel.ruleConditionField_Name" type="text" class="form-control" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'PROCESS' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="input-group" style="padding:0!important;">
                        <input type="text" class="form-control" ng-model="filterModel.key"
                            value="filterModel.process_Index">
                        <span class="input-group-btn">
                            <button ng-click='popupProcess.onClick()' class="btn btn-groub-Search" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'ACTIVITY_TYPE' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="col-xs-12" style="padding:0!important;">
                        <input type="checkbox" ng-model="filterModel.isSort" ng-checked="getCheck2" ng-true-value="1"
                            ng-false-value="0" id="search" class="ig-control__cbx" />
                        <label for="search" style="font-size: small;">{{ 'SORT' | translate }}</label>
                    </div>
                    <div class="col-xs-12" style="padding:0!important;">
                        <input type="checkbox" ng-model="filterModel.isSearch" ng-checked="getCheck2" ng-true-value="1"
                            ng-false-value="0" id="search" class="ig-control__cbx" />
                        <label for="search" style="font-size: small;">{{ 'SEARCH' | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'JOB_TYPE' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="col-xs-12" style="padding:0!important;">
                        <input type="radio" ng-model="filterModel.isSource" ng-change="radio1(filterModel.isSource)"
                            name="radio" ng-value="1" />
                        {{ 'SOURCE_TYPE' | translate }}
                    </div>
                    <div class="col-xs-12" style="padding:0!important;">
                        <input type="radio" ng-model="filterModel.isDestination"
                            ng-change="radio2(filterModel.isDestination)" name="radio" ng-value="1" />
                        {{ 'DESTINATION_TYPE' | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'ISACTIVE' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="ig-control">
                        <input type="checkbox" ng-model="filterModel.isActive" class="ig-control__cbx"
                            ng-checked="getCheck" ng-true-value="1" ng-false-value="0" id="table_setting_1" />
                        <label for="table_setting_1"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-white" style="margin-top:10px;">
            <ul class="pager">
                <button type="button" class="btn btn-step-back" ng-click="back()" style="float: left;">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                </button>

                <button type="button" class="btn btn-primary previous" ng-show="create" ng-click="add()"
                    style="float: right;">
                    {{ 'SAVE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>

                <button type="button" class="btn btn-success" ng-show="update" ng-click="add()" style="float: right;">
                    {{ 'UPDATE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </ul>
        </div>
    </div>
</div>


<process-popup-v2 on-show='popupProcess.onShow' config='popupProcess.config' invokes='popupProcess.invokes'
    delegates='popupProcess.delegates'>
</process-popup-v2>