<div class="table" style="overflow: auto">
    <table>
        <thead>
            <tr>
                <th class="col-lg-4 col-md-4 col-xs-12 size " ng-repeat="data in items">
                    <h4>{{ 'THE_ONE_CARD' | translate }} : {{data.soldTo_T1C}}</h4>
                </th>
            </tr>
            <tr>
                <th class="col-lg-2 col-md-2 col-xs-12 size " ng-repeat="data in items">
                    <h4>{{ 'PHONE' | translate }} : {{data.soldTo_T1CPhone}}</h4>
                </th>
            </tr>
            <tr>
                <th class="col-lg-1 col-md-1 col-xs-12 size " ng-repeat="data in items">
                    <h4>{{ 'NAME' | translate }} : {{data.soldTo_Name_Cus}}</h4>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>