<div class="row" ng-show="checkBalance">
    <div class="div-shadow" style="margin-top:20px;margin-left:15px;margin-right:15px;margin-bottom:15px;">
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <span>รหัสสินค้า</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-9">
                    <input type="text" class="form-control" placeholder="Scan Barcode Product">
                </div>
            </div>
            <div class="col-xs-12" style="margin-top:20px;"></div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <span>ชื่อสินค้า</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-9">
                    <input type="text" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="div-shadow" style="margin-top:15px;margin-left:15px;margin-right:15px;">
            <div class="table-responsive kl-tbl-height table-overflow div-shadow">
                <table class="table table-striped table-width-100 table-bordeered">
                    <thead>
                        <tr>
                            <th ng-click="config.sortTable= !config.sortTable">LPN</th>
                            <th ng-click="config.sortTable= !config.sortTable">ProductID</th>
                            <th ng-click="config.sortTable= !config.sortTable">ProductName</th>
                            <th ng-click="config.sortTable= !config.sortTable">QTY</th>
                            <th ng-click="config.sortTable= !config.sortTable">UOM</th>
                            <th ng-click="config.sortTable= !config.sortTable">Location</th>
                            <th ng-click="config.sortTable= !config.sortTable">Status(Grade)</th>
                            <th ng-click="config.sortTable= !config.sortTable">Expire Date</th>
                            <th ng-click="config.sortTable= !config.sortTable">UDF1</th>
                            <th ng-click="config.sortTable= !config.sortTable">UDF2</th>
                            <th ng-click="config.sortTable= !config.sortTable">UDF3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in $vm.searchResultModel" ng-if="$vm.searchResultModel.length != 0">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="$vm.searchResultModel.length == 0">
                            <td colspan="11" class="text-center">No Data</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-8 col-md-8 col-xs-6 text-right">
                <span>จำนวนรวม</span>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-3">
                <input type="text" class="form-control" disabled>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-3">
                <input type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="text-right padding-m">
                <button ng-click="back()" class="btn btn-filter hidden-xs">Back</button>
                <button ng-click="back()" class="btn btn-filter btn-block btn-md visible-xs mt-lg">Back</button>
            </div>
        </div>
    </div>
</div>