<div class="row" ng-show="$vm.isCheckBalance">
    <div class="div-shadow" style="margin-top:20px;margin-left:15px;margin-right:15px;margin-bottom:15px;">
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-xs-3">
                    <span>รหัสสินค้า</span>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-9">
                    <input type="text" class="form-control" ng-model="filterModel.productConversionBarcode"
                        ks-enter="ScanProductConversion()">
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:15px;">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-xs-3">
                    <span>ชื่อสินค้า</span>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-9">
                    <input type="text" class="form-control" ng-model="filterModel.productName" disabled>
                </div>
            </div>
        </div>

        <div class="div-shadow" style="margin-top:15px;margin-left:15px;margin-right:15px;">
            <div class="table-responsive kl-tbl-height table-overflow div-shadow">
                <table class="table table-striped table-width-100 table-bordeered">
                    <thead>
                        <tr>
                            <th>LPN</th>
                            <th>ProductId</th>
                            <th>ProductName</th>
                            <th>QTY</th>
                            <th>UOM</th>
                            <th>Status</th>
                            <th>Location</th>
                            <th>Expire Date</th>
                            <th>UDF1</th>
                            <th>UDF2</th>
                            <th>UDF3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in CheckBalance" ng-if="CheckBalance.length != 0">
                            <td>{{data.tag_No}}</td>
                            <td>{{data.productId}}</td>
                            <td>{{data.productName}}</td>
                            <td>{{data.qty}}</td>
                            <td>{{data.productConversionName}}</td>
                            <td>{{data.itemStatusFrom}}</td>
                            <td>{{data.locationName}}</td>
                            <td>{{data.expireDate}}</td>
                            <td>{{data.udF1}}</td>
                            <td>{{data.udF2}}</td>
                            <td>{{data.udF3}}</td>
                        </tr>
                        <tr ng-if="CheckBalance.length == 0">
                            <td colspan="11" class="text-center">No Data</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="align-right">
                <div style="margin-top:15px;margin-left:15px;margin-right:15px;">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="col-lg-6 col-md-6 col-xs-6">สินค้า</th>
                                    <th class="col-lg-5 col-md-5 col-xs-5">รวม</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in sumLoc" ng-if="sumLoc.length != 0">
                                    <td>
                                        <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top:5px;">
                                            <input type="text" class="form-control" ng-model="data.productName" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top:10px;">
                                            <input type="text" class="form-control" ng-model="data.binBalanceQtyBal"
                                                disabled>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        <div class="form-group">
            <div class="text-right padding-m">               
                <button ng-click="back()" class="btn btn-filter hidden-xs">Back</button>
                <button ng-click="back()" class="btn btn-filter btn-block btn-md visible-xs mt-lg">Back</button>
            </div>
        </div>
    </div>
</div>