<div class="table-responsive table-overflow  div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
        <table class="table table-striped table-fixed">
            <thead>
                <tr>
                    <th class="text-center k150">{{ 'ACTION' | translate }}</th>
                    <th class="k100">#</th>
                    <th class="k200">{{ 'PRODUCT_SUB_TYPE_ID' | translate }}</th>
                    <th class="k200">{{ 'PRODUCT_SUB_TYPE_NAME' | translate }}</th>
                    <th class="k200">{{ 'PRODUCT_SUB_TYPE_SECOND_NAME' | translate }}</th>
                    <th class="k200">{{ 'PRODUCT_TYPE_NAME' | translate }}</th>
                    <th class="k200">{{ 'REF_NO1' | translate }}</th>
                    <th class="k200">{{ 'REF_NO2' | translate }}</th>
                    <th class="k200">{{ 'REF_NO3' | translate }}</th>
                    <th class="k200">{{ 'REF_NO4' | translate }}</th>
                    <th class="k200">{{ 'REF_NO5' | translate }}</th>
                    <th class="k200">{{ 'REMARK' | translate }}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in $vm.searchResultModel">
                    <td class="k150 actions">
                        <div class="text-center" style="margin:0px">
                            <a ng-click="editItem(data)" data-toggle="tooltip" title="Edit">
                                <span class="kw-size-icon-action glyphicon glyphicon-pencil"></span>
                            </a>
                            <a  ng-click="delete(data)" data-toggle="tooltip" title="Delete">
                                <span class="kw-size-icon-action glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                    <td class="k100">{{$index+1}}</td>
                    <td class="k200">{{data.productSubType_Id}}</td>
                    <td class="k200">{{data.productSubType_Name}}</td>
                    <td class="k200">{{data.productSubType_SecondName}}</td>
                    <td class="k200">{{data.productType_Name}}</td>
                    <td class="k200">{{data.ref_No1}}</td>
                    <td class="k200">{{data.ref_No2}}</td>
                    <td class="k200">{{data.ref_No3}}</td>
                    <td class="k200">{{data.ref_No4}}</td>
                    <td class="k200">{{data.ref_No5}}</td>
                    <td class="k200">{{data.remark}}</td>
                </tr>
            </tbody>
        </table>
        <!-- </div> -->
    </div>
    <div class=" table-responsive table-overflow " ng-show="$vm.isFilter" style="margin-bottom:15px;">
        <div class="col-lg-12" style="padding-left:5px;padding-right:5px;">
            <div class="form-group">
    
                <div class="btn-group" style="padding-top:0px; padding-left:0px;">
                    <button type="button " ng-init="colortab1 = '#ec7229'" style="background-color:{{colortab1}}" ng-click="changeTableSize(50,1)" class="btn btn-back">
                                <span class="frontColor-white" style="color:{{fronttab1}}">50</span>
                            </button>
    
                    <button type="button" ng-click="changeTableSize(100,2)" style="background-color:{{colortab2}}" class="btn btn-back">
                                <span class="frontColor-primary" style="color:{{fronttab2}}">100</span>
                            </button>
                </div>
                <ul style="margin:0px;" uib-pagination total-items="$vm.filterModel.totalRow" uib-pagination total-items="$vm.filterModel.totalRow" ng-change='changePage()' items-per-page="$vm.filterModel.perPage" num-pages="$vm.filterModel.num" ng-model="$vm.filterModel.currentPage"
                    max-size="$vm.filterModel.maxSize" class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
            </div>
    
        </div>
    </div>
    <product-sub-type-form on-show="onShow" ng-hide="$vm.isFilter"> </product-sub-type-form> 



<!-- <style>
    /* .sortorder:after {
        content: '\25b2'; 
        }
    .sortorder.reverse:after {
        content: '\25bc';
        } */

    table {
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    tbody {
        overflow-y: auto;
        overflow-x: auto;
    }

    thead>tr,
    tbody>tr,
    tfoot>tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }

    thead,
    tfoot {
        flex-shrink: 0;
    }

    th,
    tbody td {
        width: 200%;
        text-overflow: auto;
    }
</style>
<div class="row table-responsive table-overflow  div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <table class="table table-striped table-bordeered  table-width-300">
        <thead>
            <tr>
                <th style="margin-top:15px;">
                    #
                </th>
                <th style="margin-top:15px;">
                    ProductSubType ID
                </th>
                <th style="margin-top:15px;">
                    ProductSubType Name
                </th>
                <th style="margin-top:15px;">
                    ProductType
                </th>
                <th class="text-align: center" style="margin-top:15px;">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in $vm.searchResultModel">
                <td>{{$index+1}}</td>
                <td>{{data.productSubTypeId}}</td>
                <td>{{data.productSubTypeName}}</td>
                <td>{{data.productTypeName}}</td>
                <td ng-show="show.action">
                    <div class="text-align: center" style="margin:0px">
                        <a class="btn btn-filter" ng-click="editItem(data)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-danger"  ng-click="delete(data)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<div class="row table-responsive table-overflow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:0px; margin-top:15px;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 display-inline">
            <select class='form-control display-inline' style='width:70px;display:inline-block;' ng-model='pagging.perPage'
                ng-options="v.value as v.value for v in pageOption" ng-init='pagging.perPage' ng-change='pagging.changeSize()'>
            </select>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 display-inline text-right" style="padding:0px; padding-left: 40px;margin-top:-18px;">
            <ul uib-pagination total-items="pagging.totalRow" ng-change="pagging.change()" items-per-page="pagging.numPerPage"
                num-pages="pagging.num" ng-model="pagging.currentPage" max-size="pagging.maxSize" boundary-link-numbers="true"
                rotate="false">
            </ul>
        </div>
    </div>
</div>

<product-sub-type-form on-show="onShow" ng-hide="$vm.isFilter"> </product-sub-type-form> -->