<div id="modal-form" class="modal" tabindex="-1" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()">&times;</button>
                <h4 class="blue bigger">{{ 'FORWARDER' | translate }}</h4>
            </div>
            <div class="modal-body">
                <!-- PAGE CONTENT BEGINS -->
                <div id="page-content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-3 dropdown display-inline">
                                    <select ng-model="actionPS" class="form-control">
                                        <option value="1">{{ 'FORWARDER_ID' | translate }}</option>
                                        <option value="2">{{ 'FORWARDER_NAME' | translate }}</option>
                                    </select>
                                </div>
                                <div ng-switch="actionPS">
                                    <div class="col-lg-4" ng-switch-when="1">
                                        <input type="text" ng-model="filterModel.forwarder_Id" class="form-control" ng-init="filterModel.forwarder_Name = ''">
                                    </div>
                                    <div class="col-lg-4" ng-switch-when="2">
                                        <input type="text" ng-model="filterModel.forwarder_Name" class="form-control" ng-init="filterModel.forwarder_Id = ''">
                                    </div>
                                </div>
                                <div class="col-lg-3 dropdown display-inline" style="float: right;">
                                    <button class="btn btn-primary " ng-click="filter()">
                                        <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}</button>
                                </div>
                            </div>

                            <div class="div-shadow" style="margin-top: 10px;">
                                <forwarder-popup-table invokes='datalist.invokes' delegates='datalist.delegates' config='datalist.config'></forwarder-popup-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT BEGINS -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="confirm()">{{ 'CONFIRM' | translate }}</button>
                <!-- <button class="btn btn-primary" ng-click="onClose()">Close</button>  -->
                <!--<button class="btn btn-danger" data-dismiss="modal">Cancel</button>-->
            </div>
        </div>
    </div>
</div>
<!-- PAGE CONTENT ENDS -->