<meta http-equiv="Pragma" content="no-cache">

<div class="col-md-12" style="margin-bottom: 1%;" ng-hide='header.advanceSearch'>
    <span style="font-size: 25px ; border: 15px;">การยืม-คืน พาเลท (Lent Pallet)</span>
    <br></br>
    <form class="form-horizontal form-bordered" method="get">
        <div class="col-md-12 col-xs-12 padd">
            <div class="col-md-2 col-xs-6 padd">{{ 'CUSTOMER_ID_COMPANY' | translate }} :</div>
            <div class="col-md-2 col-xs-6 padd">{{ 'START_DATE_END_DATE' | translate }} :</div>
            <div class="col-md-2 col-xs-6 padd"></div>

        </div>
        <div class="col-md-2 col-xs-6 padd">
            <auto-comple ng-model="filterModel.vender_Index" value="filterModel.vender_Name" id="filterModel.vender_Id" sourceurl="autoComplete.vendor" api="url.Palletmanage"></auto-comple>
        </div>
        <div class="col-md-2 col-xs-6 padd">
            <div class="input-group">
                <input type="text" ng-model="filterModel.date" class="form-control daterange text-center"
                    >
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <!-- <div class="col-md-2 col-xs-6 padd">
            <div class="input-group">
                <input type="text" ng-model="filterModel.date" class="form-control daterange text-center"
                    >
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div> -->
       
       

        <!-- <div class=""> -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 p-zero">
            <div class="col-md-2 col-sm-2 col-xs-2 padd">
                <button ng-click="filterSearch(filterModel)" class="btn kw-button-search">
                    <i class="fa fa-search"></i>{{ 'SEARCH' | translate }}
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 padd">
                <button ng-click="exportFile.ExportExcel(filterModel)" class="btn btn-success col-md-12 col-xs-6">
                    <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                    {{ 'EXECEL' | translate }}</button>
            </div>
            <!-- <div class="col-md-2 col-xs-2 padd">
                    <button class="btn btn-success" type="button" ng-click="import()">
                        {{ 'IMPORTFILE' | translate }}
                    </button>
                </div> -->
                <!-- <div class="col-md-2 col-sm-2 col-xs-2 padd">
                    <button ng-click="filterSearch(filterModel)" class="btn btn-primary col-md-12 col-xs-6">
                        {{ 'ยืม' | translate }}
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 padd">
                    <button ng-click="filterSearch(filterModel)" class="btn btn-danger col-md-12 col-xs-6">
                        {{ 'คืน' | translate }}
                </div> -->
                
            <div class="col-md-1 col-xs-1 padd">
                <button class="kw-icon-Plus" ng-click="$vm.triggerCreate()">
                    <i class="kw-icon-button icon-add_24px_outlined " aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <!-- </div> -->
    </form>

</div>



<script>
    $(function () {
        $('.daterange').daterangepicker();
    });
</script>

<script>
    $(function () {
        $('.daterange').daterangepicker();

        $('input[name="datefilter"] , input[name="datefilterAdv"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="datefilter"], input[name="datefilterAdv"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="datefilter"], input[name="datefilterAdv"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>