<div class="panel-body" ng-show="onShow">
    <div class="col-md-12 kw-mg-tb">
        <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'RULE_PUTAWAY_CONDITION_ID' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <input ng-model="filterModel.ruleputawayCondition_Id" type="text" class="form-control" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label><span style="color:red">*</span>{{ 'RULE_PUTAWAY_CONDITION_NAME' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <input ng-model="filterModel.ruleputawayCondition_Name" type="text" class="form-control" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label><span style="color:red">*</span>{{ 'RULE_PUTAWAY_CONDITION_FIELD' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <auto-comple ng-model="filterModel.ruleputawayConditionField_Index" value="filterModel.key" sourceurl="autoComplete.ruleputawayConditionField" api="url.Master"></auto-comple>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label><span style="color:red">*</span>{{ 'ZONE_PUTAWAY' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <auto-comple ng-model="filterModel.zoneputaway_Index" value="filterModel.key2" sourceurl="autoComplete.zoneputaway" api="url.Master"></auto-comple>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label><span style="color:red">*</span>{{ 'RULEPUTAWAY_CONDITION_OPERATOR' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="dropdown">
                        <select ng-model="filterModel.ruleputawayConditionOperator" class="form-control" >
                            <option value="IN">IN</option>
                            <option value="NOT IN">NOT IN</option>
                        </select>
                    </div>                
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label><span style="color:red">*</span>{{ 'CONDITION' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <textarea rows="5" cols="50" class="form-control" ng-model="filterModel.ruleputawayCondition_Param"></textarea>                
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <label>{{ 'ISACTIVE' | translate }}</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                    <div class="ig-control">
                        <input type="checkbox" ng-model="filterModel.isActive" class="ig-control__cbx" ng-checked="getCheck" ng-true-value="1" ng-false-value="0"
                            id="table_setting_1" />
                        <label for="table_setting_1"></label>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="footer-white" style="margin-top:10px;">
            <ul class="pager">
                <button type="button" class="btn btn-step-back" ng-click="back()" style="float: left;">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                </button>

                <button type="button" class="btn btn-primary previous" ng-show="create" ng-click="add()" style="float: right;">
                    {{ 'SAVE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>

                <button type="button" class="btn btn-success" ng-show="update" ng-click="add()" style="float: right;">
                    {{ 'UPDATE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </ul>
        </div>
    </div>
</div>
