<header class="page-header">
    <div class="col-md-8 col-xs-12 col-sm-8 page-header-left">
        <h2> {{ 'OUTBOUND' | translate }}</h2>
    </div>
    <div class="col-md-4 col-sm-3 page-header-right">
        <div class="right-wrapper">
            <ol class="breadcrumbs">
                <li>
                    <a href="indexS.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <span> {{ 'OUTBOUND' | translate }} </span>
                </li>
                <li>
                    <span>{{ 'SCAN_LOAD' | translate }}</span>
                </li>
            </ol>
        </div>
    </div>
</header>

<div class="col-lg-12 col-md-12 col-xs-12 kw-mg-tb">

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'PLAN_GI_NO' | translate }}</span> -->
                    <span>วันที่ขนส่งสินค้า</span>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 kw-p-zero">
                    <dir-date-picker ng-model="filterModel.truckLoad_Date"></dir-date-picker>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>น้ำหนักชั่งเข้า</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_in" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 kw-p-zero">
                        <span>กก.</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>น้ำหนักชั่งออก</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 kw-p-zero">
                        <span>กก.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>เวลาเริ่มโหลด</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>เวลาโหลดเสร็จ</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>เวลาที่รถเข้า</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>เวลาที่รถออก</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>ทะเบียนรถ</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6 kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                    <!-- <span>{{ 'TIME' | translate }}</span> -->
                    <span>หมายเหตุ</span>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                    <div class="col-lg-9 col-md-9 col-xs-10 kw-p-zero">
                        <input type="text" ng-model="filterModel.weight_out" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">

            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                <img-upload method="POST" result="DataModel" msg="msg" api="url.Load"></img-upload>
            </div>
        </div>

    </div>

    <div class="form-group" style="margin-top:15px;">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                    <span>เลขที่ใบส่งมอบสินค้า</span>
                </div>
                <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                    <div class="input-group" style="padding:0!important;">
                        <input readonly type="text" class="form-control bgwrite" ng-model="">
                        <span class="input-group-btn">
                            <button class="btn btn-groub-Search" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 table-responsive " style="padding:0px; margin-top:15px;">
            <div class="table-responsive table-overflow">
                <table class="table  table-width-100 fixed-header tableHeight-350">
                    <thead>
                        <tr>
                            <th class="k150 text-center"></th>
                            <th class="k100">ลำดับที่</th>
                            <th class="k150">เลขที่ใบส่งมอบสินค้า</th>
                            <th class="k200">วันที่ส่งมอบสินค้า</th>
                            <th class="k100">สถานะเอกสาร</th>
                            <th class="k150">สถานะ</th>
                            <th class="k150">ผู้ใช้งาน</th>
                        </tr>
                    </thead>
                    <tbody>{{filterModel.listTruckLoadItemViewModel}}
                        <tr ng-repeat="data in filterModel.listTruckLoadItemViewModel">
                            <td class="k150">
                                <div>
                                    <a class="btn btn-danger" ng-click="deleteItem(filterModel.listplanGoodsIssueItemViewModel, $index)" ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </td>
                            <td class="k100">{{$index+1}}</td>
                            <td class="k150"></td>
                            <td class="k200"></td>
                            <td class="k100"></td>
                            <td class="k150"></td>
                            <td class="k150"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

</div>


<!-- <div class="kw-text-subMenu kw-style-subMenu">
    <i class="kw-size-icon fa fa-play" aria-hidden="true"></i>
    <label class="kw-label">{{ 'SCAN_LOAD' | translate }}</label>
</div>


<div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px; margin-bottom:20px;">
    <header class="panel-heading">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                    <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                        <label>{{ 'SCAN_LOAD' | translate }}</label>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                        <select ng-model="multipleLoad" class="form-control" ng-init="multipleLoad = '1' ">
                            <option value="1">{{ 'LOAD_PACK' | translate }}</option>
                            <option value="2">{{ 'LOAD_TAG' | translate }}</option>
                            <option value="3">{{ 'LOAD_PRODUCT' | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="panel-body" ng-switch="multipleLoad">

        <div ng-switch-when="1">
            <div class="col-md-12 kw-mg-tb">
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'LOAD_DATE' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <dir-date-picker></dir-date-picker>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'TRUCK_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'SO_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'DOCK' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'BARCODE_PACK' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

            </div>

            <div class="table-responsive table-overflow div-shadow" style="margin-top:15px;">
                <table class="table table-striped table-fixed">
                    <thead>
                        <tr style="overflow-y: auto;">
                            <th class="k200">{{ 'SO_NO' | translate }}</th>
                            <th class="k200">{{ 'LICENSE_NO' | translate }}</th>
                            <th class="k200">{{ 'DRIVER_NAME' | translate }}</th>
                            <th class="k200">{{ 'DOCK_DOOR' | translate }}</th>
                            <th class="k200">{{ 'BARCODE_PACK' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filterModelItems">
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-switch-when="2">
            <div class="col-md-12 kw-mg-tb">
                <div class="form-group">

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'LOAD_DATE' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <dir-date-picker></dir-date-picker>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'TASK_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'SO_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'DOCK' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'TAG_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>




            <div class="table-responsive table-overflow div-shadow" style="margin-top:15px;">
                <table class="table table-striped table-fixed">
                    <thead>
                        <tr style="overflow-y: auto;">
                            <th class="k200">{{ 'SO_NO' | translate }}</th>
                            <th class="k200">{{ 'LICENSE_NO' | translate }}</th>
                            <th class="k200">{{ 'DRIVER_NAME' | translate }}</th>
                            <th class="k200">{{ 'DOCK_DOOR' | translate }}</th>
                            <th class="k200">{{ 'BARCODE_PACK' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filterModelItems">
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-switch-when="3">
            <div class="col-md-12 kw-mg-tb">
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'LOAD_DATE' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <dir-date-picker></dir-date-picker>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'TASK_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'SO_NO' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'DOCK' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'BARCODE_PRODUCT' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'QTY' | translate }}</label>
                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 kw-p-zero">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive table-overflow div-shadow" style="margin-top:15px;">
                <table class="table table-striped table-fixed">
                    <thead>
                        <tr style="overflow-y: auto;">
                            <th class="k200">{{ 'SO_NO' | translate }}</th>
                            <th class="k200">{{ 'LICENSE_NO' | translate }}</th>
                            <th class="k200">{{ 'DRIVER_NAME' | translate }}</th>
                            <th class="k200">{{ 'DOCK_DOOR' | translate }}</th>
                            <th class="k200">{{ 'BARCODE_PACK' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filterModelItems">
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                            <td class="k200"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-block btn-md visible-xs mt-lg">
                {{ 'LOAD' | translate }}</button>
        </div>

    </div>
</div> -->