<div id="modal-form" class="modal" tabindex="-1" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto;width:60%;">
        <div class="modal-header">
            <button type="button" class="close" ng-click="onClose()">&times;</button>
            <h4 class="blue bigger">{{ 'OTHER' | translate }}</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">

                <div class="form-group" style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="col-lg-12">
                        <div class="col-lg-1 col-md-1 col-xs-12 kw-p-zero" style="margin-top: 10px;">
                            Rollcage ID : 
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 kw-p-zero">
                            <input type="text" class="form-control " ng-model="filterModel.rollCageID">
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 kw-p-zero">
                            <button class="btn btn-primary"  ng-click="getRollcage()">
                                <i class="fa fa-search"></i> {{ 'SEARCH' | translate }}</button>
                        </div>
                        
                    </div>
                </div> 
                <!-- <div>
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-target="#tab0" data-toggle="tab" style="background-color:{{colortab1}}"
                                ng-click="clickTab(0)">{{ 'Check Rollcage' | translate }}</a>
                        </li>
            
                    </ul>
                </div> -->
                <table class="table table-striped fixed-header tableHeight-350">

                    <thead>
                        <tr style="overflow-y: auto;">
                            <th class="text-center k50">{{ 'ROLLCAGE_ID' | translate }}</th>
                            <th class="text-center k50">{{ 'ROLLCAGE_NAME' | translate }}</th>
                            <th class="text-center k50">{{ 'LOCATION_NAME' | translate }}</th>
                            <th class="text-center k50">{{ 'LOCATION_WCS' | translate }}</th>
                            <th class="text-center k50">{{ 'LOCATION_AGV' | translate }}</th>
                            <th class="text-center k50">{{ 'STATUS' | translate }}</th>
            
                        </tr>
                    </thead>

                    <tbody>   
                        <tr ng-repeat="data in rollcageModel">
                            <td class="text-center k50">{{data.rollCage_Id}}</td>
                            <td class="text-center k50">{{data.rollCage_Name}}</td>
                            <td class="text-center k50">{{data.location_Name}}</td>
                            <td class="text-center k50">{{data.wcS_Location_Name}}</td>
                            <td class="text-center k50">0{{data.agV_Location_Name}}</td>
                            <td class="text-center k50">{{data.rollCage_Status == 0 ? 'ไม่ใช้งาน' : 'ใช้งาน'}}</td>
                        </tr>
                        <tr ng-if="rollcageModel.length == 0">
                            <td colspan="16" class="k1000 text-center">{{ 'NO_DATA' | translate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="onClose()">{{ 'CLOSE' | translate }}</button>
            </div>
        </div>
    </div>
</div>