
<div class="table-responsive table-overflow">
    <table class="table table-striped fixed-header tableHeight-350">
        <thead>
            <tr>
                <!-- <td>#</td> -->
                <th class="k150 text-center">{{ 'PROCESS_ID' | translate }}</th>
                <th class="k150 text-center">{{ 'PROCESS_NAME' | translate }}</th>
                <th class="k120 text-center">
                    {{ 'ACTION' | translate }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in items">
                <!-- <td>{{$index+1}}</td> -->
                <td class="k150 text-center">{{data.process_Id}}</td>
                <td class="k150 ">{{data.process_Name}}</td>
                <td class="k120 text-center">
                        <a class="btn btn-primary" ng-click="selected(data)">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>



