<div class="dropdown" >
    <button class="btn kw-button-status" ng-click="toggleSelect()" ng-disabled="disabled" style="width: 100%;line-height: 2.7;">
        <span class="kw-icon-button icon-drag_indicator_24px_outlined" aria-hidden="true"></span><label class="kw-pos">{{ 'STATUS_CANCLE' | translate }}</label> 
    </button>
    <ul class="dropdown-menu">
        <li>
            <input class="form-control pcSearchInputValue input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus"
                placeholder="Filter" />
        </li>
        <!-- <li ng-show="multiple">
            <button class="btn-link btn-small" ng-click="checkAll()">
                <i class="fa fa-check"></i> Check all</button>
            <button class="btn-link btn-small" ng-click="uncheckAll()">
                <i class="fa fa-remove"></i> Uncheck all</button>
        </li> -->
        <li ng-hide="multiple">
            <a ng-click="checkAllV2()">
                <i ng-class="{'fa fa-check-square-o': checkvalue, 'fa fa-square-o': !checkvalue}"></i> Select All</a>
   
        </li>
        <li ng-hide="multiple">
            <i style="margin-left: 20px">Mathematics</i>
        </li>

        <li ng-repeat="i in items | filter:searchText">
            <a ng-click="select(i); focus()">
                <i ng-class="{'fa fa-check-square-o': i.checked, 'fa fa-square-o': !i.checked}"></i> {{i.label|translate}}</a>
        </li>
    </ul>
</div>