
<div class="col-md-12 p-zero " ng-hide='header.advanceSearch'>
    <form class="form-horizontal form-bordered" method="get">
        <div class="col-md-5 col-xs-6 padd" style="text-align: right;left: 5.5%;font-size: 11px">Start-Date</div>
        <div class="col-md-5 col-xs-6 padd" style="text-align: left;right: -7.5%;font-size: 11px">End-Date</div>
        <div class="">
            <div class="col-md-4 col-xs-6 padd">
                <input type="text" class="form-control text-center" id="inputDefault" placeholder="Keyword here">
            </div>
        </div>
        <div class="">
            <div class="col-md-4 col-xs-6 padd">
                <div class="input-group">
                    <input type="text" class="form-control daterange text-center" value="01/01/2019 - 01/31/2019">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="">
            <div class="col-md-4 p-zero">
                <div class="col-md-3 padd">
                    <button class="btn kw-button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search</button>
                </div>
                <div class="col-md-3 padd">
                    <button class="btn kw-button-filter"><span
                            class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        Filter</button>
                </div>
                <div class="col-md-5 padd">
                    <button class="btn kw-button-advanceSearch" type="button" ng-click="hide()" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="fa fa-star-o" aria-hidden="true"></span> Advance Search
                    </button>
                </div>
                <div class="col-md-1 col-xs-12 text-center" style="padding: 3px 1px  2px 2px;">
                    <button class="kw-icon-Plus"  ng-click="$vm.triggerCreate()"> <i class="fa fa-plus plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- style="background-color: #45556A !important; width: 100%; -->
<div ng-show='header.advanceSearch'>
    <div class="col-md-12 p-zero">
        <div class="col-md-2 p-zero pull-right">
            <button class="btn btn-light" type="button" ng-click="hide()" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                style="background-color: #404041; width: 100%;">
                <span class="fa fa-star-o" aria-hidden="true"></span> Advance Search
            </button>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#multiselectItem').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });
        });
        $(document).ready(function () {
            $('#multiselectItem2').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });
        });
        $(document).ready(function () {
            $('#multiselectItem3').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });
        });
    </script>
    <div class="col-md-8" style="margin: 11px 0;padding: 0px;">
        <div class="col-md-4 kw-multiselect padd">
            <select id="multiselectItem" multiple="multiple1" data-plugin-multiselect
                data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'>
                <optgroup label="Truck Type Select">
                    <option value="analysis">Wait</option>
                    <option value="algebra">Create</option>
                    <option value="discrete">Finish</option>
                </optgroup>
                <optgroup label="Computer Science">
                    <option value="programming">Introduction to Programming</option>
                    <option value="automata">Automata Theory</option>
                    <option value="complexity">Complexity Theory</option>
                    <option value="software">Software Engineering</option>
                </optgroup>
            </select>
        </div>
        <div class="col-md-4 kw-multiselect padd">
            <select id="multiselectItem2" multiple="multiple1" data-plugin-multiselect
                data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'>
                <optgroup label="Truck Type Select">
                    <option value="analysis">Wait</option>
                    <option value="algebra">Create</option>
                    <option value="discrete">Finish</option>
                </optgroup>
            </select>
        </div>
        <div class="col-md-4 kw-multiselect padd" style="padding: 2px 0px 2px 2px;">
            <select id="multiselectItem3" multiple="multiple1" data-plugin-multiselect
                data-plugin-options='{ "enableCaseInsensitiveFiltering": true }'>
                <optgroup label="Truck Type Select">
                    <option value="analysis">Wait</option>
                    <option value="algebra">Create</option>
                    <option value="discrete">Finish</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="col-md-4" style="margin: 12px 0;padding: 0px;">
        <div class="col-md-12 pull-right" style="padding: 0px 0px 0px 2px;">
            <div class="input-group">
                <input type="text" class="form-control daterange text-center" value="01/01/2019 - 01/31/2019">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.daterange').daterangepicker();
    });
</script>
