<meta http-equiv="Pragma" content="no-cache">
<header class="page-header">
    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9  page-header-left">
        <div class="col-md-12 col-xs-12 col-sm-12 kw-p-zero">
            <h2>{{ 'INVENTORY' | translate }} </h2>
            <div class="navigationLabel_mainPage" ng-click="back()">
                <i class="kw-size-icon-mainpage fa fa-play" aria-hidden="true"></i>
                <span class="nagivationSelect">{{ 'TRANFER_EXPORT' | translate }}</span>
            </div>
            <div class="navigationLabel">
                <i class="kw-size-icon fa fa-play" aria-hidden="true"></i>
                <span>{{ 'CREATE_TRANSFER_EXPORT' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 page-header-right">
        <div class="right-wrapper">
        </div>
    </div>
</header>
<div ng-show="$vm.isFilterTable">
    <div class="tab-content">
        <!-- Header -->
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a class="fa fa-caret-down" ng-click="ShowHeader()"></a>
                </div>
                <h2 class="panel-title">
                    <div class="form-group">
                        <div class="col-lg-11">
                            <div class="row">
                                <label class="col-lg-2 control-label kw-p-zero">{{ 'TRANSFER_NO' | translate }}
                                    :</label>

                                <div class="col-lg-3 kw-p-zero" style="margin-top: -5px;margin-left: -60px;">
                                    <input type="text" class="form-control " ng-model="filterModel.goodsTransfer_No"
                                        disabled />
                                </div>

                                <div class="col-lg-4 kw-p-zero"></div>

                                <label class="col-lg-1 control-label kw-p-zero">{{ 'STATUS' | translate }} : </label>

                                <div class="col-lg-2 kw-p-zero" style="margin-top: -5px;">
                                    <input type="text" class="form-control " ng-model="filterModel.processStatus_Name"
                                        disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </h2>
            </header>

            <div class="panel-body" ng-show='header.show'>
                <div class="row">
                    <div class="form-group" style="margin-top:15px;">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'TRANSFER_NO' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <input type="text" ng-model="filterModel.goodsTransfer_No" class="form-control"
                                        disabled />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span>
                                        {{ 'TRANSFER_DATE' | translate }}/{{ 'TIME' | translate }}</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-xs-12 kw-p-zero">
                                    <dir-date-picker ng-model="filterModel.goodsTransfer_Date"
                                        disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3 || filterModel.goodsTransfer_Index">
                                    </dir-date-picker>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                    <input type="text" ng-model="filterModel.goodsTransfer_Time" class="form-control"
                                        ng-disabled="filterModel.goodsTransfer_Index" />
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span>{{ 'OWNER_ID' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <auto-comple ng-model="filterModel.owner_Index" value="filterModel.owner_Id"
                                        id="filterModel.owner_Name" sourceurl="autoComplete.owner" api="url.Master"
                                        is-disabled="filterModel.goodsTransfer_Index"></auto-comple>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span>{{ 'OWNER_NAME' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <input type="text" class="form-control" ng-model="filterModel.owner_Name"
                                        disabled />
                                    <!-- <auto-comple ng-model="filterModel.owner_Index" value="filterModel.owner_Name" id="filterModel.owner_Id" sourceurl="autoComplete.owner"
                                        api="url.Master" is-disabled="filterModel.goodsTransfer_Index"></auto-comple> -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                    <span>{{ 'TRANSFER_DOC_DATE' | translate }}/{{ 'DOC_TIME' | translate }}</span>
                                </div>
                                <div class="col-lg-7 col-md-7 col-xs-12  kw-p-zero">
                                    <dir-date-picker ng-model="filterModel.goodsTransfer_Doc_Date"
                                        disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3">
                                    </dir-date-picker>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <input type="text" ng-model="filterModel.goodsTransfer_Doc_Time"
                                        class="form-control" />
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'Plant ปลายทาง' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero"> -->
                                    <!-- <input type="text" class="form-control" ng-model="filterModel.documentRef_No2" /> -->
                                    <!-- <auto-comple ng-model="filterModel.soldTo_Index" value="filterModel.soldTo_Name"
                                        id="filterModel.soldTo_Id" sourceurl="autoComplete.soldToPlanGI"
                                        api="url.PlanGI"></auto-comple>
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <!-- <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>{{ 'Sloc ปลายทาง' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <select class='form-control' ng-model='dropdownStorageLoc.model' ng-options="v.storageLoc_Name for v in dropdownStorageLoc">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div> -->
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <span>
                                        <span style="color:red">*</span> {{ 'DOCUMENT_TYPE' | translate }}</span>
                                </div>
                                <div class="col-lg-10 col-md-10 col-xs-12 kw-p-zero">
                                    <!-- <input type="text" ng-model='dropdownDocumentType.model' id="documentType_Id"  class="form-control" disabled /> -->
                                    <select class='form-control' ng-model='dropdownDocumentType.model'
                                        ng-options="v.documentType_Name for v in dropdownDocumentTypeList"
                                        ng-disabled="filterModel.goodsTransfer_Index" id="documentType_Id">
                                        <option value="">{{ 'PLEASE_SELECTED' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                <div class="col-lg-10 col-md-10 col-xs-12">
                                    <span>{{ 'REMARK' | translate }}</span>
                                </div>
                                <div class="col-lg-11 col-md-11 col-xs-12 kw-p-zero">
                                    <textarea maxlength="200" rows="3" cols="50" class="form-control"
                                        ng-model="filterModel.documentRef_Remark"></textarea>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-md-3 col-xs-12 kw-p-zero">
                                <div class="col-lg-3 col-md-3 col-xs-12  kw-p-zero">
                                    <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                        <span>{{ 'PLANT' | translate }}</span>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-xs-12  kw-p-zero">
                                        <input type="text" class="form-control"
                                            ng-model="filterModel.documentRef_No4" />
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="col-lg-12 col-md-12 col-xs-12 text-right" style="margin-top: 20px">
                                <button class="btn btn-success" type="button"
                                    ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3"
                                    ng-click="pickItems(filterModel)">
                                    {{ 'PICK' | translate }} </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ItemTable -->
        <section class="panel">
            <!-- <header class="panel-heading">
                    <div class="panel-actions">
                        <a class="fa fa-caret-down" ng-click="ShowItem()"></a>
                    </div>
                    <h2 class="panel-title">Item</h2>
                </header> -->

            <div class="panel-body" ng-show='item.show'>
                <div class="col-lg-12 col-md-12 col-sm-12 table-responsive " style="padding:0px; margin-top:15px;">
                    <div class="table-responsive table-overflow">
                        <table class="table  table-width-100 fixed-header tableHeight-350">
                            <thead>
                                <tr>
                                    <th class="k150 text-center">{{ 'ACTION' | translate }}</th>
                                    <th class="k50 text-center">{{ 'NO' | translate }}</th>
                                    <th class="k120 text-center">{{ 'TAG_NO' | translate }}</th>
                                    <th class="k150 text-center">{{ 'MATERIAL_NO' | translate }}</th>
                                    <th class="k300 text-center">{{ 'MATERIAL' | translate }}</th>
                                    <th class="k100 text-center">{{ 'QTY' | translate }}</th>
                                    <!-- <th class="k100">{{ 'PICK' | translate }}</th> -->
                                    <th class="k100 text-center">{{ 'WEIGHT' | translate }}</th>
                                    <th class="k100 text-center">{{ 'UNIT' | translate }}</th>
                                    <th class="k100 text-center">{{ 'LOCATION' | translate }}</th>
                                    <th class="k200 text-center">{{ 'NEWLOCATION' | translate }}</th>
                                    <th class="k150 text-center">{{ 'STATUS' | translate }}</th>
                                    <th class="k150 text-center">{{ 'NEWSTATUS' | translate }}</th>
                                    <th class="k150 text-center">{{ 'SAO_SLOC' | translate }}</th>
                                    <th class="k200 text-center">{{ 'SAO_SLOC_NEW' | translate }}</th>
                                    <th class="k150 text-center">{{ 'MFG_DATE' | translate }}</th>
                                    <th class="k150 text-center">{{ 'MFG_DATE_TO' | translate }}</th>
                                    <th class="k150 text-center">{{ 'EXP_DATE' | translate }}</th>
                                    <th class="k150 text-center">{{ 'EXP_DATE_TO' | translate }}</th>
                                    <!-- <th class="k100">{{ 'TAGNO' | translate }}</th>
                                    <th class="k100">{{ 'NEWTAGNO' | translate }}</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in filterModel.listGoodsTransferItemViewModel">
                                    <td class="k150 text-center">
                                        <div>
                                            <a class="btn btn-primary nextBtn"
                                                ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3"
                                                ng-click="addNewLocation(data,$index)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </a>

                                            <a class="btn btn-danger nextBtn"
                                                ng-disabled="filterModel.document_Status==1 || filterModel.document_Status==2 || filterModel.document_Status==-1 || filterModel.document_Status==3"
                                                ng-click="deleteItem(data,$index)">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="k50 text-center">{{$index+1}}</td>
                                    <td class="k120 text-center">{{data.tag_No}}</td>
                                    <td class="k150 text-center">{{data.product_Id}}</td>
                                    <td class="k300 ">{{data.product_Name}}</td>
                                    <td class="k100 text-center">{{data.pick|number:3}}</td>
                                    <td class="k100 text-center">{{data.weight|number:3}}</td>
                                    <td class="k100 text-center">{{data.productConversion_Name}}</td>
                                    <td class="k100 text-center">{{data.location_Name}}</td>
                                    <td class="k200 text-center">{{data.location_Name_To}}</td>
                                    <td class="k150 text-center">{{data.itemStatus_Name}}</td>
                                    <td class="k150 text-center">{{data.itemStatus_Name_To}}</td>
                                    <td class="k150 text-center">{{data.erp_Location}}</td>
                                    <td class="k150 text-center">{{data.erp_Location_To}}</td>
                                    <td class="k150 text-center">{{ data.goodsReceive_MFG_Date|dateFormate }}</td>
                                    <td class="k150 text-center">{{ data.goodsReceive_MFG_Date_To|dateFormate }}</td>
                                    <td class="k150 text-center">{{ data.goodsReceive_EXP_Date|dateFormate }}</td>
                                    <td class="k150 text-center">{{ data.goodsReceive_EXP_Date_To|dateFormate }}</td>
                                    <!-- <td class="k100">{{data.tag_No}}</td>
                                    <td class="k100">{{data.tag_No_To}}</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer-white" style="margin-top:10px;">
            <ul class="pager">
                <button type="button" class="btn btn-step-back" ng-click="back()">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                </button>


                <button type="button" class="btn btn-blue previous" ng-click="updateDocument()"
                    style="float: right;background-color: #60b0ff">
                    {{ 'SAVE' | translate }}
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
            </ul>
        </div>
    </div>
</div>

<transfer-location-popup on-show='popupLocation.onShow' config='popupLocation.config' invokes='popupLocation.invokes'
    delegates='popupLocation.delegates'>
</transfer-location-popup>

<transfer-export-form-popup on-show='transferExportFormPopup.onShow' config='transferExportFormPopup.config'
    invokes='transferExportFormPopup.invokes' delegates='transferExportFormPopup.delegates'>
</transfer-export-form-popup>