<div class="panel-body" ng-show="onShow">
    <div class="tabs">
        <ul class="nav nav-tabs" style="margin-top:15px;">

            <li class="active">
                <a data-target="#table1" data-toggle="tab" ng-click="clickTab(1)">{{ 'SOLDTO' | translate }}</a>
            </li>
            <li>
                <a data-target="#table2" data-toggle="tab" ng-click="clickTab(2)">{{ 'SHIPTO' | translate }}</a>
            </li>

        </ul>

        <div id="table1" class="tab-pane active" ng-if="click == 1">
            <div class="col-md-12 kw-mg-tb">
                <div class="form-group">
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'SOLDTO_ID' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Id" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <span style="color:red">*</span><label>{{ 'SOLDTO_NAME' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Name" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <span style="color:red">*</span><label>{{ 'SOLDTO_SECOND_NAME' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_SecondName" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <span style="color:red">*</span><label>{{ 'SOLDTO_TYPE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.soldToType_Index" value="filterModel.soldToType_Name"
                                name="filterModel.soldToType_Name" id="filterModel.SoldToType_Id"
                                sourceurl="autoComplete.soldToType" api="url.Master"></auto-comple>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_TAX_ID' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_TaxID" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_EMAIL' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Email" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_FAX' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Fax" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_TEL' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Tel" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_MOBILE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Mobile" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_BARCODE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Barcode" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_PERSON' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Person" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_PERSON2' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Person2" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_PERSON3' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Person3" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_TEL' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Tel" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_TEL2' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Tel2" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_TEL3' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Tel3" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_EMAIL' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Email" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_EMAIL2' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Email2" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'CONTACT_EMAIL3' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.contact_Email3" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'SOLDTO_ADDRESS' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.soldTo_Address" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'COUNTRY' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.country_Index" name="filterModel.country_Name"
                                value="filterModel.country_Name" id="filterModel.country_Id" sourceurl="autoComplete.autoCountry"
                                api="url.Master"></auto-comple>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'PROVINCE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.province_Index" name="filterModel.province_Name"
                                value="filterModel.province_Name" key2="filterModel.country_Index" id="filterModel.province_Id"
                                sourceurl="autoComplete.autoProvince" api="url.Master"></auto-comple>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'DISTRICT' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.district_Index" name="filterModel.district_Name"
                                value="filterModel.district_Name" key2="filterModel.country_Index"
                                key3="filterModel.province_Index" id="filterModel.district_Id" sourceurl="autoComplete.autoDistrict"
                                api="url.Master"></auto-comple>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'SUB_DISTRICT' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.subDistrict_Index" name="filterModel.subDistrict_Name"
                                value="filterModel.subDistrict_Name" key2="filterModel.country_Index"
                                key3="filterModel.province_Index" key4="filterModel.district_Index"
                                id="filterModel.subDistrict_Id" sourceurl="autoComplete.autoSubDistrict" api="url.Master">
                            </auto-comple>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'POSTCODE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <auto-comple ng-model="filterModel.postcode_Index" name="filterModel.postcode_Name"
                                value="filterModel.postcode_Name" key2="filterModel.country_Index"
                                key3="filterModel.province_Index" key4="filterModel.district_Index"
                                key5="filterModel.subDistrict_Index" id="filterModel.postcode_Id"
                                sourceurl="autoComplete.autoPostcode" api="url.Master"></auto-comple>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REF_NO1' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.ref_No1" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REF_NO2' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.ref_No2" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REF_NO3' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.ref_No3" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REF_NO4' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.ref_No4" type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REF_NO5' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.ref_No5" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                           <label>{{ 'REMARK' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <input ng-model="filterModel.remark" type="text" class="form-control" />
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-sm-12 kw-p-zero">
                        <div class="col-lg-12 col-md-12 col-xs-12 kw-p-zero">
                            <label>{{ 'ISACTIVE' | translate }}</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10  kw-p-zero">
                            <div class="ig-control">
                                <input type="checkbox" ng-model="filterModel.isActive" class="ig-control__cbx"
                                    ng-checked="getCheck" ng-true-value="1" ng-false-value="0" id="table_setting_1" />
                                <label for="table_setting_1"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-white" style="margin-top:10px;">
                    <ul class="pager">
                        <button type="button" class="btn btn-step-back" ng-click="back()" style="float: left;">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                        </button>

                        <button type="button" class="btn btn-primary previous" ng-show="create" ng-click="add()"
                            style="float: right;">
                            {{ 'SAVE' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-success" ng-show="update" ng-click="add()"
                            style="float: right;">
                            {{ 'UPDATE' | translate }}
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </ul>
                </div>
            </div>
        </div>

        <div id="table2" class="tab-pane active" ng-if="click == 2">
            <div ng-show="update">
                <ul class="pager" style="text-align: right;">
                    <button type="button" class="btn btn-success previous" ng-click="addShipTo()"
                        style="margin-right: 5px;">
                        {{ 'ADD_NEW' | translate }}
                    </button>

                    <button type="button" class="btn btn-primary previous" ng-click="popupShipTo.onClick(filterModelShipTo,filterModel.soldTo_Index)" style="float: right;">
                        {{ 'ADD' | translate }}
                    </button>
                </ul>
            </div>
            <div class="table-responsive table-overflow">
                <table class="table table-striped table-fixed">
                    <thead>
                        <tr style="overflow-y: auto;">
                            <th class="k150 center">{{ 'ACTION' | translate }}</th>
                            <th class="k250">{{ 'SHIPTO_ID' | translate }}</th>
                            <th class="k250">{{ 'SHIPTO_NAME' | translate }}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filterModelShipTo">
                            <td class="k150 actions">
                                <div class="text-center" style="margin:0px">
                                    <a ng-click="editShipToItem(data)" data-toggle="tooltip" title="Edit">
                                        <span class="kw-size-icon-action glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a  ng-click="deleteShipToItem(data)" data-toggle="tooltip" title="Delete">
                                        <span class="kw-size-icon-action glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </td>
                            <td class="k250">{{data.shipTo_Id}}</td>
                            <td class="k250">{{data.shipTo_Name}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-step-back" ng-click="back()" style="float: left;">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>{{ 'BACK' | translate }}
                </button>
            </div>

        </div>
    </div>

</div>

<ship-to-popup-v2 on-show='popupShipTo.onShow' config='popupShipTo.config' invokes='popupShipTo.invokes'
    delegates='popupShipTo.delegates'>
</ship-to-popup-v2>