.fixed-header thead {
    width: 100%;
}

.fixed-header tbody {
    /* max-height: 500px;
    height: 500px; */
    overflow-y: auto;
    width: 100%;
}

.fixed-header thead,
.fixed-header tbody,
.fixed-header tr {
    /* display: block; */
}

.fixed-header-l thead {
    width: 97%;
}

.fixed-header-l tbody {
    /* height: 550px; */
    padding-bottom: 20px;
    overflow-y: auto;
    width: 100%;
    max-height: 550px;
}

.fixed-header-l thead,
.fixed-header-l tbody,
.fixed-header-l tr {
    /* display: block; */
}

.fixed-header-m thead {
    width: 97%;
}

.fixed-header-m tbody {
    height: 1000px;
    overflow-y: auto;
    width: 100%;
}

.fixed-header-m thead,
.fixed-header-m tbody,
.fixed-header-m tr {
    /* display: block; */
}

.fixed-header-h thead {
    width: 97%;
}

.fixed-header-h tbody {
    height: 2650px;
    overflow-y: auto;
    width: 100%;
}

.fixed-header-h thead,
.fixed-header-h tbody,
.fixed-header-h tr {
    /* display: block; */
}

.tablefix {
    height: 400px !important;
    max-height: 400px;
}

.tablefix-l {
    height: 10px !important;
    max-height: 10px;
}

.tablefix-m {
    height: 20px !important;
    max-height: 20px;
}

.tablefix-h {
    height: 30px !important;
    max-height: 30px;
}
.tableHeight-auto {
	height: auto;
}
.tableHeight-350 {
    max-height: 350px;
}

.tableHeight-700 {
    max-height: 700px;
}

.k30 {
    max-width: 30px;
    min-width: 30px;
    
}

.k50 {
    max-width: 50px;
    min-width: 50px;
    
}

.k80 {
    max-width: 80px;
    min-width: 80px;
    
}
.k90 {
    max-width: 90px;
    min-width: 90px;
    
}
.k100 {
    max-width: 100px;
    min-width: 100px;
    
}
.k120 {
    max-width: 120px;
    min-width: 120px;
    
}

.k150 {
    max-width: 150px;
    min-width: 150px;
    
}

.k200 {
    max-width: 200px;
    min-width: 200px;
    word-wrap: break-word;
    
}
.k210 {
    max-width: 210px;
    min-width: 210px;
    
}
.k250 {
    max-width: 250px;
    min-width: 250px;
    
}

.k300 {
    max-width: 300px;
    min-width: 300px;
    
}

.k350 {
    max-width: 350px;
    min-width: 350px;
    
}

.k400 {
    max-width: 400px;
    min-width: 400px;
    
}

.k450 {
    max-width: 450px;
    min-width: 450px;
    
}

.k500 {
    max-width: 500px;
    min-width: 500px;
    
}

.k550 {
    max-width: 550px;
    min-width: 550px;
    
}
.k580 {
    max-width: 580px;
    min-width: 580px;
    
}

.k600 {
    max-width: 600px;
    min-width: 600px;
    
}
.k1000 {
    max-width: 1000px;
    min-width: 1000px;
    
}
.k1200 {
    max-width: 1200px;
    min-width: 1200px;
    
}
.fixed-header th {
    background: #B5B8B8;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}