<div id="modal-form" class="modal" tabindex="-1" dp-modal on-show="onShow" on-hide="onHide">
    <div class="modal-dialog" style="overflow:auto;width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()">&times;</button>
                <h4 class="blue bigger">{{ 'SERVICECHARGEFIX' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div id="page-content-wrapper">
                    <div class="row">


                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group" style="margin-top:15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12  kw-p-zero">
                                    <div class="col-lg-4 col-md-4 col-xs-12  kw-p-zero">
                                        <span>{{ 'SERVICECHARHE_NAME' | translate }}</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                        <input type="text" class="form-control" ng-model="filterModel.serviceCharge_Name" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group" style="margin-top:15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12  kw-p-zero">
                                    <div class="col-lg-4 col-md-4 col-xs-12  kw-p-zero">
                                        <span>{{ 'Remark' | translate }}</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                        <textarea rows="3" cols="50" class="form-control" ng-model="filterModel.remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group" style="margin-top:15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12  kw-p-zero">
                                    <div class="col-lg-4 col-md-4 col-xs-12  kw-p-zero">
                                        <span>{{ 'Rate' | translate }}</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                        <input type="text" class="form-control" ng-model="filterModel.rate" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group" style="margin-top:15px;">
                                <div class="col-lg-12 col-md-12 col-xs-12  kw-p-zero">
                                    <div class="col-lg-4 col-md-4 col-xs-12  kw-p-zero">
                                        <span>{{ 'Minimumrate' | translate }}</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12  kw-p-zero">
                                        <input type="text" class="form-control" ng-model="filterModel.minimumrate" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="confirm(filterModel)">{{ 'CONFIRM' | translate }}</button>
            </div>
        </div>
    </div>
</div>