<!-- PC -->
<div class="table-responsive table-overflow div-shadow" ng-show=" $vm.isFilter"
    style="margin-bottom:15px;">
    <table class="table table-striped fixed-header tableHeight-350">
        <thead>
            <tr style="overflow-y: auto;">
                <th class="text-center k150" style="width:200px;">{{ 'ACTION' | translate }}</th>
                <th class="k200 text-center">{{ 'INVOICE_NO' | translate }}</th>
                <th class="k150 text-center">{{ 'INVOICE_DATE' | translate }}</th>
                <th class="k200 text-center">{{ 'OWNER_NAME' | translate }}</th>
                <th class="k200 text-center">{{ 'AMOUNT' | translate }}</th>
                <th class="k200 text-center">{{ 'REMARK' | translate }}</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in $vm.searchResultModel">
                <td class="k150 text-center">
                    <a class="btn btn-success" ng-click="editItem(data)" data-toggle="tooltip" title="Edit"
                        data-placement="bottom">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-danger" ng-click="deleteItem(data)" >
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>

                </td>
                <td class="k200 text-center">{{data.invoice_No}}</td>
                <td class="k150 text-center">{{data.invoice_Date|dateFormate}}</td>
                <td class="k200 text-center">{{data.owner_Name}}</td>
                <td class="k200 text-center">{{data.amount}}</td>
                <td class="k200 text-center">{{data.document_Remark}}</td>

            </tr>
            <tr ng-if="$vm.searchResultModel.length == 0">
                <td colspan="7" class="k1200 text-center">{{ 'NO_DATA' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>



<div class=" table-responsive table-overflow " ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12" style="padding-left:5px;padding-right:5px;">
        <div class="form-group">

            <div class="btn-group" style="padding-top:0px; padding-left:0px;" ng-show="show.pagination">
                <button type="button " ng-init="colortab1 = '#ec7229'" style="background-color:{{colortab1}}"
                    ng-click="changeTableSize(50,1)" class="btn btn-back">
                    <span class="frontColor-white" style="color:{{fronttab1}}">50</span>
                </button>

                <button type="button" ng-click="changeTableSize(100,2)" style="background-color:{{colortab2}}"
                    class="btn btn-back">
                    <span class="frontColor-primary" style="color:{{fronttab2}}">100</span>
                </button>
            </div>
            <ul ng-show="show.pagination" style="margin:0px;" uib-pagination total-items="$vm.filterModel.totalRow"
                uib-pagination total-items="$vm.filterModel.totalRow" ng-change='changePage()'
                items-per-page="$vm.filterModel.perPage" num-pages="$vm.filterModel.num"
                ng-model="$vm.filterModel.currentPage" max-size="maxSize" class="pull-right"
                boundary-link-numbers="true" rotate="false"></ul>
        </div>

    </div>
</div>



<invoice-form on-show="onShow" ng-hide="$vm.isFilter"></invoice-form>
