<div class="table-responsive table-overflow  div-shadow" ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <table class="table table-striped table-fixed">
        <thead>
            <tr class="table-info-wing" style="text-size-adjust: ''">
                <th class="text-center k50">#</th>
                <th class="text-center tr100">{{ 'PRODUCT_ID' | translate}}</th>
                <th class="text-center tr250">{{ 'PRODUCT_NAME' | translate}}</th>
                <th class="text-center tr100">{{ 'REPLENISHMENTLOCATION' | translate}}</th>
                <th class="text-center tr100">{{ 'LOCATION_NAME' | translate}}</th>
                <th class="text-center tr100">{{ 'TAG_NO' | translate}}</th>
                <th class="text-center tr100">{{ 'SU_BINBALAN_QTYBAL' | translate}}</th>
                <th class="text-center tr100">{{ 'SU_BINBALAN_QTYRESERVE' | translate}}</th>
                <th class="text-center tr100">{{ 'SU_QTY_REMAIN' | translate}}</th>
                <th class="text-center tr100">{{ 'SALEUNIT' | translate}}</th>
                <th class="text-center tr100">{{ 'GOODSRECEIVE_EXP_DATE' | translate}}</th>
                <th class="text-center tr100">{{ 'SHELFLIFE' | translate}}</th>
                <th class="text-center tr100">{{ 'AGEREMAIN' | translate}}</th>
                <th class="text-center tr100">{{ 'ERP_Location' | translate}}</th>
                <th class="text-center tr100">{{ 'ITEMSTATUS_NAME' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in $vm.searchResultModel ">
                <td class="k50 text-center">{{($index + 1) + ($vm.filterModel.PerPage * ($vm.filterModel.currentPage - 1))}}</td>
                <td class="text-center k100">{{data.product_Id}} </td>
                <td class="text-left k250">{{data.product_Name}} </td>
                <td class="text-center k100">{{data.replenishmentLocation}} </td>
                <td class="text-center k100">{{data.location_Name}} </td>
                <td class="text-center k100">{{data.tag_No}} </td>
                <td class="text-center k100">{{data.sU_BinBalance_QtyBal}} </td>
                <td class="text-center k100">{{data.sU_BinBalance_QtyReserve}} </td>
                <td class="text-center k100">{{data.sU_Qty_Remain}} </td>
                <td class="text-center k100">{{data.saleUnit}} </td>
                <td class="text-center k100">{{data.goodsReceive_EXP_Date}} </td>
                <td class="text-center k100">{{data.shelfLife}} </td>
                <td class="text-center k100">{{data.ageRemain}} </td>
                <td class="text-center k100">{{data.eRP_Location}} </td>
                <td class="text-center k100">{{data.itemStatus_Name}} </td>

            </tr>
        </tbody>
    </table>
</div>
<div class=" table-responsive table-overflow " ng-show="$vm.isFilter" style="margin-bottom:15px;">
    <div class="col-lg-12" style="padding-left:5px;padding-right:5px;">
        <div class="form-group">

            <div class="btn-group" style="padding-top:0px; padding-left:0px;">
                <button type="button " ng-init="colortab1 = '#ec7229'" style="background-color:{{colortab1}}"
                    ng-click="changeTableSize(50,1)" class="btn btn-back">
                    <span class="frontColor-white" style="color:{{fronttab1}}">50</span>
                </button>

                <button type="button" ng-click="changeTableSize(100,2)" style="background-color:{{colortab2}}"
                    class="btn btn-back">
                    <span class="frontColor-primary" style="color:{{fronttab2}}">100</span>
                </button>
            </div>
            <ul style="margin:0px;" uib-pagination total-items="$vm.filterModel.totalRow" uib-pagination
                total-items="$vm.filterModel.totalRow" ng-change='changePage()' items-per-page="$vm.filterModel.perPage"
                num-pages="$vm.filterModel.num" ng-model="$vm.filterModel.currentPage" max-size="maxSize"
                class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>