<div id="modal-form" class="modal" dp-modal on-show="onShow" on-hide="onHide" data-toggle="modal" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog" style="overflow: auto;border: 1px solid;margin-top: 15%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="onClose()">&times;</button>
                <h4>{{ 'BOOKING_CONFIG' | translate}}</h4>
            </div>
            <!--? Flagment 2 -->
            <div class="modal-body" style="min-height: 300px;">
                <div class="row col-lg-offset-1  col-md-offset-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-mg-bot padd">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <span class="required">* {{ 'WAREHOUSE' | translate }}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <select ng-disabled="bkItem.status == 'EDIT'" class='form-control' ng-click="selectWH(itemsWarehouse.model)"
                                    ng-model='itemsWarehouse.model'
                                    ng-options="v.wareHouse_Name for v in itemsWarehouse">
                                    <option value="">เลือกคลัง</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                {{ 'SCHEDULE_DATE' | translate }}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <select class='form-control' ng-click="selectDate(dropdownDisplayDate.model)"
                                    ng-model='dropdownDisplayDate.model'
                                    ng-options="v.displayDate for v in dropdownDisplayDate">
                                    <option value="">เลือกวัน</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                {{ 'ADVANCE_BOOKING' | translate }} ({{ 'HOUR' | translate }})
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <input class="form-control text-upper" type="number"
                                    ng-model="bkItem.pre_Booking" placeholder="จองล่วงหน้ากี่ชั่วโมง">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-mg-bot padd">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padd">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                {{ 'LIMIT_BEFORE' | translate }}({{ 'MINUTE' | translate }})
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <input class="form-control text-upper" type="number"
                                    ng-model="bkItem.checkIn_Limit_Before" placeholder="ก่อนเวลากี่นาที">
                            </div>
                        </div>
                        <div class="col-lg42 col-md-4 col-sm-12 col-xs-12 padd">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                {{ 'LIMIT_AFTER' | translate }}({{ 'MINUTE' | translate }})
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  kw-p-zero">
                                <input class="form-control text-upper" type="number"
                                    ng-model="bkItem.checkIn_Limit_After" placeholder="ก่อนเวลากี่นาที">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kw-p-zero padd">
                        <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4 padd">
                            <label>{{ 'STATUS' | translate }}</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8 padd" style="text-align: right;">
                            <label class="switch"><input type="checkbox" id="togBtn" ng-model="bkItem.isActive">
                                <div class="sliderNew round"></div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row col-lg-offset-3 col-xs-offset-2">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: right;">
                        <button type="button" class="btn btn-success" ng-click="onClose()" data-dismiss="modal"
                            style="color: #ffffff; padding: 4px 15px !important;">
                            {{ 'CANCEL' | translate }}
                        </button>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 " style="text-align: left;">
                        <button type="button" class="btn btn-primary" ng-click="save()"
                            style="color: #ffffff; padding: 4px 15px !important;">
                            {{ 'SAVE' | translate }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>