</style>
<div class="table" style="overflow: auto">
    <table class="table table-striped table-fixed">
        <thead>
            <tr>
                <th ng-show="show.checkBox">
                    <div class="ig-control">
                        <input type="checkbox" id="all" class="ig-control__cbx" checked />
                        <label for="all">ALL</label>
                    </div>
                </th>
                <!-- <td>#</td> -->
                <th>ProductSubType ID</th>
                <th>ProductSubType Name</th>
                
                <th ng-show="show.action">
                    <div style="width: 5px;text-align: center">Action</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in items">
                <!-- <td>{{$index+1}}</td> -->
                <td>{{data.productSubTypeId}}</td>
                <td>{{data.productSubTypeName}}</td>
                <td ng-show="show.action" class="hight">
                    <div style="width: 5px">
                        <a class="btn btn-filter" ng-click="selected(data)">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="form-left" ng-show="show.pagination">
    <select class='form-control' style='width:70px;display:inline;' ng-model='model.numPerPage' ng-options="v.value as v.value for v in pageOption"
        ng-init='model.numPerPage = 10' ng-change='changeTableSize()'>
    </select>
</div>
<div class="form-right" ng-show="show.pagination">
    <ul uib-pagination total-items="pagging.totalRow" ng-change="pagging.change()" items-per-page="pagging.perPage" num-pages="pagging.num"
        ng-model="pagging.currentPage" max-size="pagging.maxSize" class="pull-right" boundary-link-numbers="true" rotate="false"></ul>
</div> -->